<pdf>
    {% embed 'reports/templates/page.twig' %}
        {% block title %}
            <h1>Alunos Defasados</h1>
            <h3>Nominal</h3>
        {% endblock %}
        
        {% block content %}
            {% for relatorio in relatorios %} 
                {% if relatorio.alunosPorEtapa|length > 0 %}
                    <div margin-top="30px" font-size="8px" breakable="false">
                        {% if relatorios|length > 1 %}
                            <h3>{{relatorio.unidadeEnsino.nomeCompleto}}</h3>
                        {% endif %}
                        <table>
                            <tr font-size="9px">
                                <td colspan="4" border.type="none"></td>
                                <td colspan="2" width="50px"><strong>Gênero</strong></td>
                                <td colspan="2" width="65px"><strong>Alfabetizado</strong></td>
                                <td colspan="2" width="50px"><strong>ANEE</strong></td>
                            </tr>
                            <tr font-size="9px">
                                <td width="70px"><strong>Ano Escolar</strong></td>
                                <td><strong>Nome</strong></td>
                                <td width="60px"><strong>Anos Defasagem</strong></td>
                                <td width="60px"><strong>Data Nascimento</strong></td>
                                <td>M</td>
                                <td>F</td>
                                <td>S</td>
                                <td>N</td>
                                <td>S</td>
                                <td>N</td>
                            </tr>
                            {% set total = 0 %}
                            {% for etapa, alunos in relatorio.alunosPorEtapa %}
                                {% set total = total + alunos|length %}
                                {% for a in alunos %}
                                    <tr>
                                        <td>{{etapa}}</td>
                                        <td text-align="left">{{a.matricula.aluno.nome|upper}}</td>
                                        <td>{{a.anosDefasagem}}</td>
                                        <td>{{a.matricula.aluno.dataNascimento|date('d/m/Y')}}</td>
                                        <td>{{a.matricula.aluno.genero == 'M' ? 'X' : ''}}</td>
                                        <td>{{a.matricula.aluno.genero == 'F' ? 'X' : ''}}</td>
                                        <td>{{a.matricula.aluno.alfabetizado ? 'X' : ''}}</td>
                                        <td>{{a.matricula.aluno.alfabetizado ? '' : 'X'}}</td>
                                        {% if a.matricula.aluno.particularidades|length > 0 %}
                                            <td>X</td><td></td>
                                        {% else %}
                                            <td></td><td>X</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            <tr font-size="10px">
                                <td colspan="10">
                                    <strong>Total de alunos defasados: {{total}}</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
       {% endblock %}
    {% endembed %}
</pdf>

