{% extends app.request.isXmlHttpRequest ? '::templateAjax.html.twig' : '::template.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block headerTitle %}<a href="{{ path('vagas_estagio') }}"><button style="margin-top: -5px;" class="btn btn-danger">Voltar</button></a> Estagiários inscritos na vaga{% endblock %}

{% block body %}
    <div class="row" style="margin: 1rem;">
        <div class="col-md-12">
            <h3>Vaga para: {{ vaga.titulo }}/{{ vaga.disciplina }} - {{ vaga.unidade.nome }} - {{ turnos[vaga.turno] }}</h3>
            <hr />
            <table class="table table-striped table-hover tableDGP">
                <thead>
                    <tr>
                        <th>Nome</td>
                        <th>E-mail</td>
                        <th>Telefone</td>
                        <th>Início Observação</td>
                        <th>Final Observação</td>
                        <th>Início Intervenção</td>
                        <th>Final Intervenção</td>
                        <th>Opções</td>
                    </tr>
                </thead>
                <tbody>
                    {% for inscricao in inscricoes %}
                        <tr>
                            <td>{{ inscricao.estagiario.nome }}</td>
                            <td>{{ inscricao.estagiario.email }}</td>
                            <td>{{ inscricao.telefone }}</td>
                            <td>{% if inscricao.inicioObservacao != '0000-00-00' %} {{ inscricao.inicioObservacao | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if inscricao.fimObservacao != '0000-00-00' %} {{ inscricao.fimObservacao | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if inscricao.inicio != '0000-00-00' %} {{ inscricao.inicio | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if inscricao.fim != '0000-00-00' %} {{ inscricao.fim | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>
                                <a title="Deferir" href="{{ path('deferir_estagio', { 'id': inscricao.id }) }}"><span style="color: green; cursor: pointer;" class="glyphicon glyphicon-ok remove-questionario" aria-hidden="true"></span></a>
                                <a title="Indeferir" href="{{ path('indeferir_estagio', { 'id': inscricao.id }) }}"><span style="color: red; cursor: pointer;" class="glyphicon glyphicon-remove remove-questionario" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Nenhuma inscrição cadastrada</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                    
    <div class="row" style="margin: 1rem;">
        <div class="col-md-12">
            <h1>Estagiários Deferidos</h1>
            <table class="table table-striped table-hover tableDGP">
                <thead>
                    <tr>
                        <th>Nome</td>
                        <th>E-mail</td>
                        <th>Telefone</td>
                        <th>Início Observação</td>
                        <th>Final Observação</td>
                        <th>Início Intervenção</td>
                        <th>Final Intervenção</td>
                        <th>Opções</td>
                    </tr>
                </thead>
                <tbody>
                    {% for deferido in deferidos %}
                        <tr>
                            <td>{{ deferido.estagiario.nome }}</td>
                            <td>{{ deferido.estagiario.email }}</td>
                            <td>{{ deferido.telefone }}</td>
                            <td>{% if deferido.inicioObservacao != '0000-00-00' %} {{ deferido.inicioObservacao | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if deferido.fimObservacao != '0000-00-00' %} {{ deferido.fimObservacao | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if deferido.inicio != '0000-00-00' %} {{ deferido.inicio | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if deferido.fim != '0000-00-00' %} {{ deferido.fim | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>
                                <a title="Remover" href="{{ path('remover_estagio', { 'id': deferido.id }) }}"><span style="color: red; cursor: pointer;" class="glyphicon glyphicon-remove remove-questionario" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Nenhuma inscrição deferida</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>
{% endblock %}
