<table class="table table-striped table-hover tableDGP">
    <thead>
        <tr>
            <th>Etapa</td>
            <th>Modalidade</td>
            <th>Unidade</td>
            <th>Turno</td>
            <th>Vagas</td>
            <th>Vagas Restantes(ativas)</td>
            <th>Opções</td>
        </tr>
    </thead>
    <tbody>
        {% for key, vaga in vagas %}
            <tr>
                <td><a href="{{ path('editar_vaga', { 'id': vaga.id }) }}">{{ vaga.titulo }}</a></td>
                <td>{{ vaga.disciplina }}</td>
                <td>{{ vaga.unidade.nome }}</td>
                <td>{{ vaga.turno.nome }}</td>
                <td>{{ vaga.totalVagas }}</td>
                {% if vagasRestantes is empty %}
                    <td>{{ vaga.totalVagas }}</td>
                {% else %}
                    <td>{{ vagasRestantes[key] }}</td>
                {% endif %}
                <td>
                    <a title="Ver inscrições" href="{{ path('listar_inscritos', { 'id': vaga.id }) }}"><span style="color: blue; cursor: pointer;" class="glyphicon glyphicon-list-alt remove-questionario" aria-hidden="true"></span></a>
                    <a title="Remover" href="{{ path('remover_vaga', { 'id': vaga.id }) }}"><span style="color: red; cursor: pointer;" class="glyphicon glyphicon-remove-circle remove-questionario" aria-hidden="true"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center">Nenhuma vaga cadastrada</td>
            </tr>
        {% endfor %}
    </tbody>
</table>