{% extends app.request.isXmlHttpRequest ? '::templateAjax.html.twig' : '::template.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block headerTitle %}Todos os estagiários pendentes{% endblock %}

{% block body %}
    <div class="row" style="margin: 1rem;">
        <div class="col-md-12">
            <table class="table table-striped table-hover tableDGP">
                <thead>
                    <tr>
                        <th>Nome</td>
                        <th>Etapa</td>
                        <th>Modalidade</td>
                        <th>Turno</th>
                        <th>Unidade</td>
                        <th>E-mail</td>
                        <th>Telefone</td>
                        <th>Início Observação</td>
                        <th>Final Observação</td>
                        <th>Início Intervenção</td>
                        <th>Final Intervenção</td>
                        <th>Opções</td>
                    </tr>
                </thead>
                <tbody>
                    {% for inscricao in inscricoes %}
                        <tr>
                            <td>{{ inscricao.estagiario.nome }}</td>
                            <td>{{ inscricao.vaga.titulo }}</td>
                            <td>{{ inscricao.vaga.disciplina }}</td>
                            <td>{{ turnos[inscricao.vaga.turno] }}</td>
                            <td>{{ inscricao.vaga.unidade.pessoaJuridica.nome }}</td>
                            <td>{{ inscricao.estagiario.email }}</td>
                            <td>{{ inscricao.telefone }}</td>
                            <td>{% if inscricao.inicio != '0000-00-00' %} {{ inscricao.inicio | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if inscricao.fim != '0000-00-00' %} {{ inscricao.fim | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if inscricao.inicioObservacao != '0000-00-00' %} {{ inscricao.inicioObservacao | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>{% if inscricao.fimObservacao != '0000-00-00' %} {{ inscricao.fimObservacao | date('d/m/Y') }} {% else %} Não cadastrado. {% endif %}</td>
                            <td>
                                <a title="Deferir" href="{{ path('deferir_estagio', { 'id': inscricao.id }) }}"><span style="color: green; cursor: pointer;" class="glyphicon glyphicon-ok remove-questionario" aria-hidden="true"></span></a>
                                <a title="Indeferir" href="{{ path('indeferir_estagio', { 'id': inscricao.id }) }}"><span style="color: red; cursor: pointer;" class="glyphicon glyphicon-remove remove-questionario" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Nenhuma inscrição cadastrada</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>
{% endblock %}
