<div class="container">
    <div style="text-align: justify;">
        Os requerimentos listados aqui são destinados <strong>exclusivamente</strong> à <strong>servidores já desligados</strong> da rede municipal.
        <br /> Se você é um servidor ativo, deve acessar com seu usuário.
   </div>
    <div class="row">
        <div class="col-md-12">
            <p class="title_url" id="{{ path('protocolo_api_getSolicitacoes') }}" >Qual é a sua solicitação?</p>
            <form id="chooseForm"></form>
        </div>
        <hr />
        <div class="col-md-12 form-requerimento divSimples" label="{{ path('protocolo_api_getDocumento', { protocolo: '00' }) }}" id="26">
            <h2>Requerimento Simples</h2>
            <form id="formRSimples" action="{{ path('protocolo_api_postProtocolo', { solicitacao: '26' }) }}" method="POST">
                <div class="input-group">
                    <span class="input-group-addon">Nome:</span>
                    <input class="form-control" placeholder="Digite o seu Nome" type="text" name="nome" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">CPF:</span>
                    <input class="form-control cpf" placeholder="Digite o seu CPF" type="text" name="cpf" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">RG:</span>
                    <input class="form-control" placeholder="Digite o seu RG" type="text" name="rg" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Email:</span>
                    <input class="form-control" placeholder="Digite o seu Email" type="text" name="email" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Telefone:</span>
                    <input class="form-control" placeholder="Digite o seu Telefone" type="text" name="fone" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Celular:</span>
                    <input class="form-control" placeholder="Digite o seu Celular" type="text" name="celular" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Pedido:</span>
                    <input class="form-control" placeholder="Digite o seu Pedido" type="text" name="pedido" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Motivo:</span>
                    <textarea class="form-control" placeholder="Digite o seu Motivo" name="motivo" /></textarea> <br />
                </div>

                <button class="btn btn-primary btnRSimples">Gerar Requerimento</button>
            </form>
        </div>
        <div class="col-md-12 form-requerimento divTempo" label="{{ path('protocolo_api_getDocumento', { protocolo: '00' }) }}" id="24">
            <h2>Requerimento por Tempo de Serviço</h2>
            <form id="formRTempo" action="{{ path('protocolo_api_postProtocolo', { solicitacao: '24' }) }}" method="POST">
                <div class="input-group">
                    <span class="input-group-addon">Nome:</span>
                    <input class="form-control nomeTempo" placeholder="Digite o seu Nome" type="text" name="nome" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">CPF:</span>
                    <input class="form-control cpf cpfTempo" placeholder="Digite o seu CPF" type="text" name="cpf" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">RG:</span>
                    <input class="form-control rgTempo" placeholder="Digite o seu RG" type="text" name="rg" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Email:</span>
                    <input class="form-control emailTempo" placeholder="Digite o seu Email" type="text" name="email" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Telefone:</span>
                    <input class="form-control foneTempo" placeholder="Digite o seu Telefone" type="text" name="telefone" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Celular:</span>
                    <input class="form-control celularTempo" placeholder="Digite o seu Celular" type="text" name="celular" /><br />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Ano em que começou a trabalhar na rede:</span>
                    <select class="form-control anoInicioTempo" name="anoInicio">
                        <option value="Antes de 1970">Antes de 1970</option>
                        <option value="Entre 1970 e 1975">Entre 1970 e 1975</option>
                        <option value="Entre 1975 e 1980">Entre 1975 e 1980</option>
                        <option value="Entre 1980 e 1985">Entre 1980 e 1985</option>
                        <option value="Entre 1985 e 1990">Entre 1985 e 1990</option>
                        <option value="Entre 1990 e 1995">Entre 1990 e 1995</option>
                        <option value="Entre 1995 e 2000">Entre 1995 e 2000</option>
                        <option value="Entre 2000 e 2005">Entre 2000 e 2005</option>
                        <option value="Após 2005">Após 2005</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Finalidade:</span>
                    <select class="form-control objetivoTempo" name="objetivo" id="objective">
                        <option value="Simulação de Aposentadoria">Simulação de Aposentadoria</option>
                        <option value="Processo Seletivo">Processo Seletivo</option>
                        <option value="Concurso Público">Concurso Público</option>
                        <option value="">Outro</option>
                    </select>
                </div>

                <div class="input-group outro">
                    <span class="input-group-addon">Outro:</span>
                    <input class="form-control outroTempo" placeholder="Digite a finalidade do requerimento" type="text" name="outro" /><br />
                </div>

                <button class="btn btn-primary btnRTempo">Gerar Requerimento</button>
            </form>
        </div>
    </div>     
    <br /><br />
</div>