{% extends 'IntranetBundle:Index:unidadeEscolar.html.twig' %}

{% block headerTitle %}Alocação de Servidor{% endblock %}

{% block body %}
    <p>
        <strong>Servidor:</strong> {{vinculo.servidor.nome}} 
    </p>
    <p>
        <strong>Vínculo:</strong> {{vinculo.cargo.nome}} - {{vinculo.cargaHoraria}} horas 
    </p>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Unidade</th>
                    <th>Carga Horária</th>
                </tr>
            </thead>
            <tbody>
                {% for alocacao in vinculo.alocacoes %}
                    <tr>
                        <td>{{alocacao.id}}</td>
                        <td>{{alocacao.localTrabalho.pessoaJuridica.nome}}</td>
                        <td>{{alocacao.cargaHoraria}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="post" action="{{url('dgp_unidade_alocarVinculo', {'vinculo': vinculo.id})}}">
        <div class="row">
            <div class="col-lg-6">
                <label>Unidade:</label>
                <span class="form-control">{{unidade.pessoaJuridica.nome}}</span>
            </div>
            <div class="col-lg-6">
                <label for="cargaHoraria">Carga horária na unidade:</label>
                <select id="cargaHoraria" name="cargaHoraria" class="form-control" required="true">
                    {% for cargaHoraria in 1..40 %}
                        <option value="{{cargaHoraria}}">{{cargaHoraria}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Função atual (opcional): </label>
                <input id="funcaoAtual" name="funcaoAtual" type="text" class="form-control" placeholder="Deixe em branco se a função exercida corresponde ao cargo"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </div>
    </form>
{% endblock %}
