{% extends 'IntranetBundle:Index:unidadeEscolar.html.twig' %}

{% block headerTitle %}Quadro de Servidores{%endblock %}

{% block body %}
    <p>
        <a class="ajaxLink" href="{{url('dgp_unidade_formPonto')}}">Folha Ponto</a>
    </p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Cargo Atual</th>
                <th>C.H.</th>
                <th>Servidor</th>
                <th>Vínculo</th>
                <th>Função Exercida</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for alocacao in alocacoes %}
                <tr>
                    <td> <input id="selecionadas" name="selecionadas" value="{{alocacao.id}}" type="checkbox" /> </td>
                    <td>{{alocacao.vinculoServidor.cargo.nome}}</td>
                    <td>{{alocacao.cargaHoraria}}</td>
                    <td>{{alocacao.vinculoServidor.servidor.nome}}</td>
                    <td>{{alocacao.vinculoServidor.tipoVinculo.nome}}</td>
                    <td>{{alocacao.funcaoAtual}}</td>
                    <td class="text-center">
                        <a style='cursor: pointer;' class='editarEmail' data-attr='{{alocacao.vinculoServidor.servidor.nome}}'>
                            <span data-toggle="modal" data-target="#modalEmail" title="Editar e-mail" class="glyphicon glyphicon-edit"></span>
                        </a>
                        {% if alocacao.vinculoServidor.servidor.usuario %}
                            | <a href="{{url('intranet_unidade_usuario_gerenciar', {'usuario': alocacao.vinculoServidor.servidor.usuario.id})}}">
                                <span title="Usuário" class="glyphicon glyphicon-wrench"></span>
                            </a>
                        {% endif %}
                        | <a href="{{url('dgp_unidade_desalocarVinculo', {'alocacao': alocacao.id})}}">
                            <span title="Desalocar" class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Nenhum servidor alocado neste unidade</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div id="modalDialog" class="modal fade" role="dialog">
        <div id="divModal" class="modal-dialog" style="width: 50%;"></div>
    </div>
            
    <div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="modalEmail" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Atualizar Email</h4>
            </div>
            <div class="modal-body">
              Email atual: <span id='emailBusca'></span>
              <br /><br />
              <form id='formAtualizarEmail' action='{{ url('dgp_unidade_buscarEmailByUsuario') }}'>
                  <input type='text' class='form-control' id='emailInput' />
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id='atualizarEmail' class="btn btn-primary">Atualizar</button>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
    
{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        var nomeServidor = null;
        
        $(".ajaxLink").click(function(ev) {
            $.ajax({
                type: "GET",
                url: $(this).attr("href"),
                success: function(retorno) {
                    $("#divModal").html(retorno);
                }
            });
            $('#modalDialog').modal({"show": true});
            ev.preventDefault();
        });
        
        $('.editarEmail').click(function () {
            var nome = $(this).attr('data-attr');
            nomeServidor = nome;
            $.ajax ({
                url: '{{ url('dgp_unidade_buscarEmailByUsuario') }}',
                type: 'POST',
                data: { 'nome': nome },
                success: function (data) {
                    $('#emailBusca').html(data);
                }
            });
        });
        
        $('#atualizarEmail').click(function (){
            $.ajax ({
                url: '{{ url('dgp_unidade_salvarEmailServidor') }}',
                type: 'POST',
                data: { 'email': $('#emailInput').val(), 'nome': nomeServidor },
                success: function (data){
                    if (data === 'true') {
                        $.bootstrapGrowl("Email atualizado com sucesso.", { type: 'success', delay: 5000 });
                    } else {
                        $.bootstrapGrowl(data, { type: 'danger', delay: 5000 });
                    }
                    $('#modalEmail').modal('hide');
                }
            });
        });
    </script>
{% endblock %}

