{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Servidor > Permuta> Lista de Interessados{% endblock %}

{% block page %}
    <div class="panel panel-default">
        <div class="panel-heading">Interessados em Remoção por Permuta</div>
        <div class="panel-body">
            <div class="alert alert-info">
                <strong>ATENÇÃO:</strong> SOMENTE PARA PROFESSORES E ESPECIALISTAS QUE JÁ TENHAM TERMINADO O ESTÁGIO PROBATÓRIO.
            </div>
            <p>Esta ferramenta visa promover a divulgação dos interessados em fazer permuta, facilitando a comunicação entre os mesmos. Se deseja adicionar sua intenção na lista, clique em Incluir Nova.</p>
            <p>Para permutar siga os procedimentos:</p>
            <ol>
                <li>Pesquise na lista abaixo as unidades de ensino que lhe interessam;</li>
                <li>Entre em contato com os interessados para combinar a permuta;</li>
                <li>Aguarde o Edital de Remoção por Permuta ser publicado para seguir os procedimentos e formalizar a permuta para 2016.</li>
            </ol>
            <p>
                <a class="btn btn-primary" href="{{path('dgp_servidor_permuta_cadastrarIntencao')}}">Incluir Nova</a>
            </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Lotação</th>
                        <th class="text-center">C.H.</th>
                        <th class="text-center">Servidor</th>
                        <th class="text-center">Contato</th>
                        <th class="text-center">Bairros de Interesse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for intencao in intencoes %}
                        <tr>
                            <td>{{intencao.vinculo.cargo.nome}}</td>
                            <td>{{intencao.lotacao.nome}}</td>
                            <td class="text-center">{{intencao.cargaHoraria}}</td>
                            <td>{{intencao.vinculo.servidor.nome}}</td>
                            <td>
                                {{intencao.vinculo.servidor.email}}
                                {% if intencao.vinculo.servidor.telefone %}
                                    <br/>Telefone: {{intencao.vinculo.servidor.telefone.numeroFormatado}}
                                {% endif %}
                                {% if intencao.vinculo.servidor.celular %}
                                    <br/>Celular: {{intencao.vinculo.servidor.celular.numeroFormatado}}
                                {% endif %}
                            </td>
                            <td>{{intencao.bairrosDeInteresse}}</td>
                            <td>
                                {% if app.user.pessoa.id == intencao.vinculo.servidor.id %}
                                    <a class="lnkExcluir" href="{{ path('dgp_servidor_permuta_excluirIntencao', {'intencao': intencao.id }) }}">
                                        <span title="Excluir" class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center" colspan="6">
                                <em>Nenhuma intenção de permuta cadastrada</em>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}