{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Pesquisa de Inscrição {% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li> 
            <a href="{{ path('fu_promotoria_formFila') }}">Consulta Fila</a>
        </li>
        <li class="active">
            <a href="#">Pesquisa de Inscrição</a>
        </li>
        <li>
            <a href="{{path('fu_promotoria_glossario')}}">Glossário</a>
        </li>
    </ul>
    <div class="container">
        <form id="formPesquisaInscricao">
            <div class="row">
                <div class="col-lg-3">
                    <label for="zoneamento">Zoneamento:</label>
                    <select id="zoneamento" name="zoneamento" class="form-control">
                        <option>Todos</option>
                        {% for zoneamento in zoneamentos %}
                            <option value="{{zoneamento.id}}"> {{zoneamento.nome}} - {{zoneamento.descricao}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="anoEscolar">Turma:</label>
                    <select id="anoEscolar" name="anoEscolar" class="form-control">
                        <option>Todos</option>
                        {% for ano in anosEscolares %}
                            <option value="{{ano.id}}"> {{ano.nome}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="tipoInscricao">Tipo de Inscrição:</label>
                    <select id="tipoInscricao" name="tipoInscricao" class="form-control">
                        {% for tipo in tiposInscricao %}
                            <option value="{{tipo.id}}"> {{tipo.nome}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="status">Status:</label>
                    <select id="status" name="status" class="form-control">
                        <option>Todos</option>
                        {% for st in status %}
                            <option value="{{st.id}}"> {{st.nome}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" class="form-control">
                </div>
                <div class="col-lg-3">
                    <label for="protocolo">Protocolo:</label>
                    <input type="text" id="protocolo" name="protocolo" class="form-control">
                </div>
                <div class="col-lg-3">
                    <label for="processoJudicial">Processo Judicial:</label>
                    <select id="processoJudicial" name="processoJudicial" class="form-control">
                        <option>Sim / Não</option>
                        <option value="0">Não</option>
                        <option value="1">Sim</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <br />
                    <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div id="divInscricoes"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnBuscar").click( function() {
            $.ajax({
                type: "POST",
                url: "{{path('fu_promotoria_pesquisar')}}",
                data: $("#formPesquisaInscricao").serialize(),
                success: function(retorno){
                    $("#divInscricoes").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}