{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %} Protocolo > Gerência > {{categoria.nome}} {% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">{{categoria.nome}}</a></li>
        <li><a href="{{url('protocolo_admin_listarEncaminhamentos', {'categoria': categoria.id})}}">Encaminhamento</a></li>
    </ul>
    <form id="formPesquisaProtocolo" method="post">
        <div class="row">
            <div class="col-lg-6">
                <label for="solicitacao">Solicitação:</label>
                <select type="text" id="solicitacao" name="solicitacao" class="form-control">
                    <option></option>
                    {% for solicitacao in solicitacoes %}
                        <option value="{{solicitacao.id}}">{{solicitacao.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <label for="numero">Número:</label>
                <input type="text" id="numero" name="numero" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="requerente">Requerente:</label>
                <input type="text" id="requerente" name="requerente" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label for="ativo">Estado:</label>
                <div class="input-group" style="padding-top: 0;">
                    <select id="estado" name="estado" class="form-control" required="true">
                        <option value="1">Ativo</option>
                        <option value="2">Novo</option>
                        <option value="3">Em atividade</option>
                        <option value="0">Arquivado</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div id="divListaProtocolos"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnBuscar").click( function() {
            $.ajax({
                type: "POST",
                url: "{{path('protocolo_admin_pesquisar', {'categoria': categoria.id})}}",
                data: $("#formPesquisaProtocolo").serialize(),
                success: function(retorno){
                    $("#divListaProtocolos").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}