{% extends 'DGPBundle:Pessoa:cadastroPessoa.html.twig' %}

{% set activeTab = '5' %}
  
{% block headerTitle %}DGP > Pessoas > {{pessoa.nome}} > Vínculos > {{vinculo is defined ? vinculo.id : 'Novo'}} {% endblock %}

{% block tabContent %}
    <div class="row" id="formErrors">
        {{ erros | raw }}
    </div>
    {{ form_start(form, { 'attr': { 'id': 'vinculoForm' }}) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.cargo) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.tipoVinculo) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.cargaHoraria) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form_row(form.inscricaoVinculacao) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form_row(form.convocacaoVinculacao) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 hidden vinculoOriginal">
                {{ form_row(form.vinculoOriginal) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{form_label(form.dataInicio)}}
                {{form_widget(form.dataInicio, {'attr': {'class': 'form-control datepickerSME'} })}}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.dataTermino, { 'attr': { 'class': 'form-control datepickerSME' }}) }}
            </div>
        </div>
         <div class="row">
            <div class="col-lg-3">
                {{ form_row(form.portaria) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.edicaoJornalNomeacao) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.matricula) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.quadroEspecial) }}		            
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                {% if vinculo is not defined %}
                    {{ form_row(form.gratificacao, { 'attr': { 'value': 'I e II' } }) }}
                {% else %}
                    {{ form_row(form.gratificacao)}}
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% if vinculo is not defined %}
                    {{ form_row(form.lotacaoSecretaria, { 'attr': { 'value': '25' } }) }}
                {% else %}
                    {{ form_row(form.lotacaoSecretaria)}}
                {% endif %}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.codigoDepartamento) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.codigoSetor) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.bancoContaBancaria) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.agenciaContaBancaria) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.numeroContaBancaria) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.observacao) }}
            </div>
            <div class="col-lg-6">
                {% if vinculo is not defined or vinculo.id is null %}
                    {{ form_row(form.numeroControle, { 'attr': { 'value': numeroControle } }) }}
                {% else %}
                    {{ form_row(form.numeroControle) }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.btnSalvar, { 'attr': { 'class': 'btn btn-primary btn-block' } }) }}
            </div>
            <div class="col-lg-6">
                <a class="btn btn-danger btn-block" href="{{ path('dgp_pessoa_vinculo_listar', { 'pessoa': pessoa.id }) }}">Cancelar</a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        if ($("#{{form.tipoVinculo.vars.id}}").val() == 3) {
            $(".vinculoOriginal").removeClass('hidden');
        }
        
        $("#{{form.tipoVinculo.vars.id}}").change(function () {
            if ($(this).val() == 3) {
                $(".vinculoOriginal").removeClass('hidden');
            } else {
                $(".vinculoOriginal").addClass('hidden');
            }
        });
        
        $("#{{form.inscricaoVinculacao.vars.id}}").change(function () {
            loadComboConvocacao($("#{{form.inscricaoVinculacao.vars.id}}").val());
        });
        
        function loadComboConvocacao(inscricao) {
            var data = {};
            data[$("#{{form.inscricaoVinculacao.vars.id}}").attr("name")] = inscricao;
            $.ajax({
                type: "POST",
                url: "{{form.vars.action}}",
                data: data,
                success: function(retorno) {
                    html = $.parseHTML(retorno);
                    $("#{{form.convocacaoVinculacao.vars.id}}").replaceWith(
                        $(html).find("#{{form.convocacaoVinculacao.vars.id}}")
                    );
                    $("#{{form.numeroControle.vars.id}}").replaceWith(
                        $(html).find("#{{form.numeroControle.vars.id}}")
                    );
                }
            });
        }
    </script>
{% endblock %}