{% extends '::templateModal.html.twig' %}

{% block modalTitle %} <h2>Impressão de Documentos</h2> {% endblock %}

{% block modalBody %}
    <ul>
        <li> <a href="{{path('dgp_vinculo_imprimirFichaCadastral', {'vinculo': vinculo.id})}}" target="_blank" >Ficha Cadastral</a> </li>
        <li> <a href="{{path('dgp_vinculo_imprimirChecklist', {'vinculo': vinculo.id})}}" target="_blank" >Checklist</a> </li>
        <li> <a href="{{path('dgp_vinculo_imprimirParecerRegularidade', {'vinculo': vinculo.id})}}" target="_blank" >Parecer de Regularidade</a> </li>
        {% if vinculo.tipoVinculo.id != constant('SME\\DGPBundle\\Entity\\TipoVinculo::ACT') %}
            <li> <a href="{{path('dgp_vinculo_imprimirTermoPosse', {'vinculo': vinculo.id})}}" target="_blank" >Termo de Posse</a> </li>
        {% endif %}
        {% if vinculo.tipoVinculo.id != constant('SME\\DGPBundle\\Entity\\TipoVinculo::COMISSIONADO') %}
            <li> <a href="{{path('dgp_vinculo_imprimirEncaminhamento', {'vinculo': vinculo.id})}}" target="_blank" >Encaminhamento</a> </li>
        {% endif %}
    </ul>
{% endblock %}

