{% extends 'PublicacaoBundle:Index:menu.html.twig' %}

{% block headerTitle %}Publicações SME > Grupos{% endblock %}

{% block page %}
    <div class="row">
        <div id="page" class="col-lg-10">
             <a class="back-btn" href="{{ path('publicacao_grupos') }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar</a>
             <br /><br />
             <h4>Editar Grupo</h4>
             
             <div class="row" id="formErrors">
                {{ erros | raw }}
             </div>
             
             {{ form_start(form, { 'action': path('publicacao_grupos_editar', { 'id': grupo.id })}) }}
                <div style="display: none;" class="col-md-6">
                    <label for="GrupoForm_nome">Nome *</label>
                    {{ form_widget(form.nome) }}
                </div>
                <div class="col-md-10">
                    <label for="GrupoForm_nomeExibicao">Nome de Exibição *</label>
                    {{ form_widget(form.nomeExibicao) }}
                </div>
                <div style="margin-top: 10px;" class="col-md-2">
                       {{ form_row(form.Salvar) }}
                </div>
             {{ form_end(form) }}
        </div>
    </div>
{% endblock %}