{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Requerimento de Licença para tratar de Interesses Particulares{% endblock %}

{% block page %}
    <form method="post" action="{{url('protocolo_servidor_incluirSolicitacao', {'solicitacao': solicitacao.id})}}">
        <div class="row">
            <div class="col-lg-6">
                <label for="matricula">Matrícula:</label>
                <input type="text" name="matricula" class="form-control" required="true"/>
            </div>
            <div class="col-lg-6">
                <label for="vinculo">Selecione um cargo:</label>
                <select name="vinculo" class="form-control" required="true">
                    {% for vinculo in vinculos %}
                        <option value="{{vinculo.id}}"> {{vinculo.cargo.nome}} - {{vinculo.cargaHoraria}} horas ({{vinculo.tipoVinculo.nome}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="data_inicio">Data de início da licença:</label>
                <input type="text" name="data_inicio" class="form-control datepickerSME" required="true"/>
            </div>
            <div class="col-lg-6">
                <label for="data_encerramento">Data de término da licença:</label>
                <input type="text" name="data_encerramento" class="form-control datepickerSME" required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnIncluir" type="submit" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </form>
{% endblock %}