{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}Requerimento de Promoção Horizontal{% endblock %}

{% block body %}
<!-- 
Ver local de trabalho
Ver esquema da tabela
-->
    <form method="post" action="{{url('protocolo_servidor_incluirSolicitacao', {'solicitacao': solicitacao.id})}}">
        <div class="row">
            <div class="col-lg-12">
                <label for="matricula">Matrícula:</label>
                <input type="text" name="matricula" class="form-control" required >
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="vinculo">Cargo da promoção:</label>
                <select name="vinculo" class="form-control" required >
                    {% for vinculo in vinculos %}
                        <option value="{{vinculo.id}}"> {{vinculo.cargo.nome}} - {{vinculo.cargaHoraria}} horas ({{vinculo.tipoVinculo.nome}})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <label for="alocacao">Função atual:</label>
                <select name="alocacao" class="form-control" >
                    {% for vinculo in vinculos %}
                        {% for alocacao in vinculo.alocacoes %}
                            <option value="{{alocacao.id}}">{{alocacao.funcaoAtual}} - {{alocacao.localTrabalho.pessoaJuridica.nome}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="vagaPermuta">Cursos (que somem 40 horas):</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table  class="table table-striped table-hover">
                    <tr>
                        <th>Nome do curso</th>
                        <th>Data de emissão</th>
                        <th>Carga Horária</th>
                    </tr>
                    {% for i in 1..8 %}
                        <tr>
                            <td>
                                <input type="text" name="curso_{{i}}" class="form-control" />    
                            </td>
                            <td>
                                <input type="text" name="conclusao_{{i}}" class="form-control datepickerSME" />
                            </td>
                            <td>
                                <input type="number" min="1" name="ch_{{i}}" class="form-control" />    
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnIncluir" type="submit" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </form>
{% endblock %}