{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > Processo Admissional{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Pesquisa</a></li>
    </ul>
    {{form_start(form, {'attr': {'id': 'formPesquisa'} })}}
    <div class="row">
        <div class="col-lg-6">
            {{form_label(form.tipoProcesso)}}
            <div class="input-group">
                {{form_widget(form.tipoProcesso, {'attr': {'class': 'form-control'} })}}
                <span class="input-group-btn">
                    <button id="btnPesquisar" class="btn btn-primary" type="button">Buscar</button>
                </span>
            </div>
        </div>
    </div>
    {{form_end(form)}}
    <div id="divProcessos"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnPesquisar").click( function() {
            $.ajax({
                type: "POST",
                url: "{{form.vars.action}}",
                data: $("#formPesquisa").serialize(),
                success: function(retorno){
                    $("#divProcessos").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}