<div id="menuWrapper">
    <div id="closeMenu">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <ul class="menuList">
        <li class="menuItem centerText"><a label="menu1" class="topLink plus" href="#">Usuário</a>
            <ul class="subMenu" id="subMenu1">
                <li class="subMenuPadding"><a class="paddingMenu" href="{{path('dgp_servidor_listarVinculos')}}">Página do Servidor</a></li>
               <!-- <li class="subMenuPadding">
                    <a class="paddingMenu" href="http://chat.educacao.itajai.sc.gov.br/client.php?locale=pt-br" target="_blank" 
                       onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 &amp;&amp; window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open(&#039;http://chat.educacao.itajai.sc.gov.br/client.php?locale=pt-br&amp;url=&#039;+&#039;&amp;name={{app.user.pessoa.nome|replace({' ': '+'})}}&amp;email={{app.user.pessoa.email}}&#039;, 'mibew', 'toolbar=0,scrollbars=0,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;">
                       Atendimento Online
                    </a>
                       
                </li>-->
                {% if is_granted('ROLE_SUPORTE_USER') %}
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('suporte_index')}}">Suporte Técnico</a></li>
                {% endif %}
                <li class="subMenuPadding"><a class="paddingMenu" target="_blank" href="http://ead.educacao.itajai.sc.gov.br">Educline</a></li>
                <li class="subMenuPadding"><a class="paddingMenu" target="_blank" href="http://erudio.itajai.sc.gov.br/login.html">Erudio</a></li>
                {% if is_granted('ROLE_QUESTIONARIO') %}
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('questionarios_ver_respostas')}}">Questionários (Respostas)</a></li>
                {% endif %}
                {% if is_granted('ROLE_ORIENTADOR_ESTAGIO') or is_granted('ROLE_ESTAGIO_ADMIN') %}
                    <li class="subMenuPadding hasSubmenu"><a label="submenu1" class="topSubLink plus plusSub paddingMenu" href="#">Estágio</a>
                        <ul class="levelsubMenu" id="levelSubMenu1">
                            {% if is_granted('ROLE_ORIENTADOR_ESTAGIO') or is_granted('ROLE_ESTAGIO_ADMIN') %}
                                <li class="subMenuPadding"><a class="paddingMenu" href="{{path('cadastrar_estagiario')}}">Inscrever Estagiários</a></li>
                                <li class="subMenuPadding"><a class="paddingMenu" href="{{path('inscritos_orientador')}}">Estagiários Cadastrados</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ESTAGIO_ADMIN') %}
                                <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('inscricoes_pendentes') }}">Inscrições Pendentes</a></li>
                                <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('vagas_estagio') }}">Vagas</a></li>
                                <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('listar_orientadores') }}">Orientadores</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% if is_granted('ROLE_UNIDADE_ENSINO') or is_granted('ROLE_UNIDADE_SECRETARIA') %}
            <li class="menuItem centerText"><a label="menu2" class="topLink plus" href="#">Unidade</a>
                <ul id="subMenu2" class="subMenu">
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('intranet_listarUnidadesEscolares')}}">Selecionar Unidade</a></li>
                    {% if app.session.has('unidade') %}
                        {% if is_granted('ROLE_CEI') %}
                            <li class="subMenuPaddingM"><a class="paddingMenu" href="{{path('fu_index')}}">Fila Única</a></li>
                        {% endif %}
                        <li class="subMenuPadding"><a class="paddingMenu" href="{{path('inscritos_escola')}}">Estágios Encaminhados</a></li>
                        <li class="subMenuPadding"><a class="paddingMenu" href="{{path('dgp_unidade_listarAlocacoes')}}">Servidores</a></li>
                        <li class="subMenuPadding"><a class="paddingMenu" href="{{path('suporte_index')}}">Suporte Técnico</a></li>
                        <li class="subMenuPadding"><a class="paddingMenu" href="{{path('presenca_index')}}">Controle de Presença</a></li>
                        {% if is_granted('ROLE_UNIDADE_ENSINO') or is_granted('ROLE_UNIDADE_SECRETARIA') %}
                            <li class="subMenuPadding"><a class="paddingMenu" href="{{path('questionarios_listados')}}">Questionários</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_DGP_MEMBRO') %}
            <li class="menuItem centerText"><a label="menu3" class="topLink plus" href="#">DGP</a>
                <ul id="subMenu3" class="subMenu">
                    <li class="subMenuPadding hasSubmenu"><a label="submenu1" class="topSubLink plus plusSub paddingMenu" href="#">Pessoas</a>
                        <ul class="levelsubMenu" id="levelSubMenu1">
                            <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('dgp_pessoa_cadastrar') }}">Cadastro</a></li>
                            <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('dgp_pessoa_pesquisar') }}">Pesquisa</a></li>
                        </ul>
                    </li>
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('dgp_entidade_listar') }}">Entidades</a></li>
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('protocolo_admin_pesquisar', {'categoria': 1}) }}">Requerimentos</a></li>
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('dgp_formacao_listar') }}">Formação Continuada</a></li>
                    <li class="subMenuPadding"> <a class="paddingMenu" href="{{ path('dgp_processoAdmissao_pesquisar') }}">Processo Admissional</a> </li>
                    <li class="subMenuPadding" class="hasSubmenu"><a label="submenu2" class="topSubLink plus plusSub paddingMenu" href="#">CI Geral</a>
                        <ul class="levelsubMenu" id="levelSubMenu1">
                            <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('dgp_ciGeral_formPesquisa') }}">Admissões</a></li>
                            <li class="subMenuPadding"><a class="paddingMenu" href="{{ path('dgp_promocao_ciGeral_formPesquisa') }}">Promoções</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_INFANTIL_MEMBRO') or is_granted('ROLE_UNIDADE_ESCOLAR') %}
            <li class="menuItem centerText "><a label="menu4" class="topLink plus" href="#">Infantil</a>
                <ul id="subMenu4" class="subMenu">
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('fu_index')}}">Fila Única</a></li>
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('presenca_busca')}}">Controle de Presença</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="menuItem centerText endMenu"><a label="menu5" class="topLink plus" href="#">Administrador</a>
                <ul id="subMenu5" class="subMenu">
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('intranet_admin_formPesquisaUsuario')}}">Usuários</a></li>
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('intranet_admin_formPesquisaRole')}}">Permissões</a></li>
                    <li class="subMenuPadding" class="hasSubmenu"><a label="submenu5" class="topSubLink plus plusSub paddingMenu" href="#">Questionários</a>
                        <ul class="levelsubMenu" id="levelSubMenu1">
                            <li class="subMenuPadding"><a class="paddingMenu" href="{{path('questionario_index')}}">Criar Questionário</a></li>
                            <li class="subMenuPadding"><a class="paddingMenu" href="{{path('categorias_index')}}">Categorias de Perguntas</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_PROMOTORIA') %}
            <li class="menuItem centerText"><a label="menu2" class="topLink plus" href="#">Promotoria</a>
                <ul id="subMenu2" class="subMenu">
                    <li class="subMenuPadding"><a class="paddingMenu" href="{{path('fu_promotoria_formFila')}}">Fila Única</a></li>
                </ul>
            </li>
        {% endif %}
        <li class="menuSystem centerText">
            <span class="openMenu"><span id="nameLogged">{{app.user.pessoa.nome}}</span> <span style=" color: #fff;" class="glyphicon glyphicon-off notifyIcon"></span></span>
            <span class="glyphicon glyphicon-comment notification_switch icon_closed" style="cursor: pointer; margin-left: 10px;"><small class="notification_total"></small></span>
        </li>
    </ul>
</div>

<div class="subMenuSystem">
    <div class="userSysMenu">
        <div class="photo">
            <span class="glyphicon glyphicon-user glyphicon-lg"></span>
        </div>
        <div class="fullname">
            {{app.user.pessoa.nome}}
        </div>
    </div>
    <div class="systemOptions">
        <a href="{{path('intranet_consultarCadastro')}}">Acessar meu perfil</a>
    </div>
    <div class="systemOptions">
        <a href="{{path('logout')}}">Sair da Intranet</a>
    </div>
</div>
    
<script type="text/javascript">
    var LHCChatOptionsPage = {};
    LHCChatOptionsPage.opt = {};
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = '//chat.educacao.itajai.sc.gov.br/index.php/chat/getstatusembed';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>