{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Inscrição > Pesquisa {% endblock %}

{% block page %}
    <form method="POST" action="{{path('fu_inscricao_pesquisar')}}" id="formPesquisaInscricao">
        <div class="row">
            <div class="col-lg-6">
                <label for="zoneamento">Zoneamento:</label>
                <select id="zoneamento" name="zoneamento" class="form-control">
                    <option>Todos</option>
                    {% for zoneamento in zoneamentos %}
                        <option value="{{zoneamento.id}}"> {{zoneamento.nome}} - {{zoneamento.descricao}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3">
                <label for="anoEscolar">Turma:</label>
                <select id="anoEscolar" name="anoEscolar" class="form-control">
                    <option>Todos</option>
                    {% for ano in anosEscolares %}
                        <option value="{{ano.id}}"> {{ano.nome}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3">
                <label for="tipoInscricao">Tipo de Inscrição:</label>
                <select id="tipoInscricao" name="tipoInscricao" class="form-control">
                    {% for tipo in tiposInscricao %}
                        <option value="{{tipo.id}}"> {{tipo.nome}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" class="form-control">
            </div>
            <div class="col-lg-3">
                <label for="protocolo">Protocolo:</label>
                <input type="text" id="protocolo" name="protocolo" class="form-control">
            </div>
            <div class="col-lg-3">
                <label for="status">Status:</label>
                <select id="status" name="status" class="form-control">
                    <option>Todos</option>
                    {% for st in status %}
                        <option value="{{st.id}}"> {{st.nome}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3">
                <label for="processoJudicial">Processo Judicial:</label>
                <select id="processoJudicial" name="processoJudicial" class="form-control">
                    <option>Sim / Não</option>
                    <option value="0">Não</option>
                    <option value="1">Sim</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="unidadeOrigem">Unidade de Origem (se já matriculado na rede):</label>
                <select id="unidadeOrigem" name="unidadeOrigem" class="form-control">
                    <option>Todas / Nenhuma</option>
                    {% for unidade in unidadesEscolares %}
                        <option value="{{unidade.id}}">{{unidade.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <label for="unidadeVagaOfertada">Vaga Ofertada:</label>
                <select id="unidadeVagaOfertada" name="unidadeVagaOfertada" class="form-control">
                    <option>Nenhuma</option>
                    {% for unidade in unidadesEscolares %}
                        <option value="{{unidade.id}}">{{unidade.nome}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div style="margin-top: 0.5em;">
            <strong>Período da última atualização:</strong>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <input type="text" id="ultimaModificacaoInicio" name="ultimaModificacaoInicio" class="form-control datepickerSME">
            </div>
            <div class="col-lg-1 text-center">
                <strong>até</strong>
            </div>
            <div class="col-lg-2">
                <input type="text" id="ultimaModificacaoTermino" name="ultimaModificacaoTermino" class="form-control datepickerSME">
            </div>
            <div class="col-lg-3">
                <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>

    <div id="divListaInscricoes"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnBuscar").click( function() {
            $.ajax({
                type: "POST",
                url: "{{path('fu_inscricao_pesquisar')}}",
                data: $("#formPesquisaInscricao").serialize(),
                dataType: 'html',
                success: function(retorno){
                    $("#divListaInscricoes").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}