{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Inscrição > {{tipoInscricao.nome}} {% endblock %}

{% block page %}
    <form id="formCadastroInscricao" method="post" action="{{path('fu_inscricao_cadastrar', {'tipoInscricao': tipoInscricao.id})}}">
        <input id="tipoInscricao" name="tipoInscricao" value="{{tipoInscricao.id}}" type="hidden" />
        <div class="row">
            <div class="col-lg-12">
                <label for="unidade">Unidade Pretendida:</label>
                <select id="unidade" name="unidade" class="form-control" required>
                    <option value="">Selecione uma unidade</option>
                    {% for unidade in unidades %}
                        <option value="{{unidade.id}}"> {{unidade.nome}} | {{unidade.zoneamento.nome}} - {{unidade.zoneamento.descricao}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if tipoInscricao.id == constant('SME\\FilaUnicaBundle\\Entity\\TipoInscricao::TRANSFERENCIA') %}
            <div class="row">
                <div class="col-lg-12">
                    <label for="unidadeAlternativa">Unidade Pretendida - 2ª Opção:</label>
                    <select id="unidadeAlternativa" name="unidadeAlternativa" class="form-control">
                        <option>Nenhuma</option>
                        {% for unidade in unidades %}
                            <option value="{{unidade.id}}"> {{unidade.nome}} | {{unidade.zoneamento.nome}} - {{unidade.zoneamento.descricao}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <label for="unidadeAtual">Matrícula Atual:</label>
                <select id="unidadeAtual" name="unidadeAtual" class="form-control" required>
                    <option value="0">
                        {% if tipoInscricao.id != constant('SME\\FilaUnicaBundle\\Entity\\TipoInscricao::TRANSFERENCIA') %} Não matriculado na rede {% endif %}
                    </option>
                    {% for unidade in unidades %}
                        <option value="{{unidade.id}}"> {{unidade.nome}} | {{unidade.zoneamento.nome}} - {{unidade.zoneamento.descricao}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            {% if tipoInscricao.id == constant('SME\\FilaUnicaBundle\\Entity\\TipoInscricao::TRANSFERENCIA') %}
                <div class="col-lg-4">
                    <label for="periodo">Período:</label>
                    <select id="periodo" name="periodo" class="form-control">
                    {% for periodo in periodos %}
                        <option value="{{periodo.id}}"> {{periodo.nome}} </option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-lg-4">
                    <label for="codigoAluno">Número de Matrícula Erudio:</label>
                    <input id="codigoAluno" name="codigoAluno" type="text" class="form-control" required />
                </div>
                <div class="col-lg-4">
                    <label for="dataMatricula">Data de Cadastro Erudio:</label>
                    <input type="text" id="dataMatricula" name="dataMatricula" class="form-control datepickerSME" required />
                </div>
            {% else %}
                <div class="col-lg-6">
                    <label for="situacaoFamiliar">Situação Familiar:</label>
                    <select id="situacaoFamiliar" name="situacaoFamiliar" required class="form-control">
                        <option value=""> </option>
                        {% for situacao in situacoesFamiliares %}
                            <option value="{{situacao.id}}"> {{situacao.descricao}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="rendaPerCapita">Renda Per Capita:</label>
                    <div class="input-group" style="padding-top: 0;">
                        <input id="rendaPerCapita" name="rendaPerCapita" type="text" class="form-control" readonly="true"/>
                        <span class="input-group-btn">
                            <button id="btnRenda" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="nome">Nome:</label>
                <input id="nome" name="nome" type="text" class="form-control" required />
            </div>
            <div class="col-lg-4">
                <label for="dataNascimento">Data Nascimento:</label>
                <input id="dataNascimento" name="dataNascimento" required type="text" class="form-control datepickerSME" />
            </div>
            <div class="col-lg-4">
                <label for="documentoIdentificacao">Documento de Identificação:</label>
                <select id="documentoIdentificacao" name="documentoIdentificacao" class="form-control" required >
                    <option value="certidaoNascimentoNova">Certidão de Nascimento - 32 Dígitos</option>
                    <option value="certidaoNascimentoAntiga">Certidão de Nascimento - Termo, Livro e Folha</option>
                    <option value="cpf">CPF (Estrangeiros)</option>
                </select>
            </div>
        </div>
        <div class="row" id="divCertidaoNova">
            <div class="col-lg-12">
                <label for="certidaoNascimento">Certidão Nascimento (32 dígitos):</label>
                <input id="certidaoNascimento" name="certidaoNascimento" type="text" class="form-control" />
            </div>
        </div>
        <div class="row" id="divCertidaoAntiga">
            <div class="col-lg-4">
                <label for="termoCertidaoNascimento">Termo:</label>
                <input id="termoCertidaoNascimento" name="termoCertidaoNascimento" type="text" class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="livroCertidaoNascimento">Livro:</label>
                <input id="livroCertidaoNascimento" name="livroCertidaoNascimento" type="text" class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="folhaCertidaoNascimento">Folha:</label>
                <input id="folhaCertidaoNascimento" name="folhaCertidaoNascimento" type="text" class="form-control" />
            </div>
        </div>
        <div class="row" id="divCpf">
            <div class="col-lg-12">
                <label for="cpf">CPF (apenas números):</label>
                <input id="cpf" name="cpf" type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="raca">Raça:</label>
                <select id="raca" name="raca" class="form-control">
                    <option value="">Não informado</option>
                    {% for raca in racas %}
                        <option value="{{raca.id}}"> {{raca.nome}} </option>
                    {% endfor %}
                </select>
            </div>
             <div class="col-lg-4">
                <label for="nomeMae">Filiação - Mãe:</label>
                <input id="nomeMae" name="nomeMae" type="text" required class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="nomePai">Filiação - Pai:</label>
                <input id="nomePai" name="nomePai" type="text" required class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="endereco">Endereço:</label>
                <input id="endereco" name="endereco" type="text" required class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="numero">Número:</label>
                <input id="numero" name="numero" type="text" required class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="complemento">Complemento:</label>
                <input id="complemento" name="complemento" type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="bairro">Bairro:</label>
                <input id="bairro" name="bairro" type="text" required class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="cep">CEP:</label>
                <input id="cep" name="cep" type="text" required class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="email">E-mail:</label>
                <input id="email" name="email" type="text" required class="form-control" />
            </div>
        </div>
        <div class="row">
            {% for i in 1..6 %}
                <div class="col-lg-2">
                    <label for="telefone{{i}}">Telefone {{i}}:</label>
                    <input id="telefone{{i}}" name="telefone[]" type="text" class="form-control" />
                </div>
            {% endfor %}
        </div>
        
        <div id="divFiliacao" style="margin-top: 12px;">
            <p> <strong>Responsáveis:</strong> </p>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Parentesco</th>
                </tr>
                {% for i in 1..2 %}
                    <tr>
                        <td> <input id="filiacaoNome{{i}}" name="filiacaoNome{{i}}" type="text" class="form-control" required /> </td>
                        <td> <input id="filiacaoCPF{{i}}" name="filiacaoCPF{{i}}" type="text" class="form-control" required/> </td>
                        <td> <input id="filiacaoRG{{i}}" name="filiacaoRG{{i}}" type="text" class="form-control" required/></td>
                        <td> 
                            <select id="filiacaoParentesco{{i}}" name="filiacaoParentesco{{i}}" class="form-control" required>
                                <option value=""> </option>
                                {% for parentesco in parentescos %}
                                    <option value="{{parentesco.id}}"> {{parentesco.nome}} </option>
                                {% endfor %}
                            </select> 
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
            
        <div id="divFiliacao" style="margin-top: 12px;">
            <p> <strong>Deficiências / Transtornos:</strong> </p>
            {% for p in particularidades %}
                <input type="checkbox" id="particularidades{{p.id}}" value="{{p.id}}" name="particularidades[]" /> {{p.nome}}
            {% endfor %}
        </div>
        
        {% if tipoInscricao.id == constant('SME\\FilaUnicaBundle\\Entity\\TipoInscricao::REGULAR') %}
            <div id="modalDialog" class="modal fade" role="dialog">
                <div id="divModal" class="modal-dialog" style="width: 75%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Cálculo de renda per capita</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-center text-danger">
                                O responsável pela inscrição da criança declara que as seguintes pessoas moram sob o mesmo teto:
                            </p>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome Completo</th>
                                        <th>Parentesco</th>
                                        <th>Atividade</th>
                                        <th>Local de Trabalho</th>
                                        <th>Rendimento Mensal</th>
                                        <th>Responsável</th>
                                    </tr>
                                </thead>
                                <tbody id="componentesRenda">
                                    <tr id="componenteRenda1">
                                        <td> <input class="form-control nome1" name="nomeComponenteRenda[]" type="text" /> </td>
                                        <td> 
                                            <select id="relacao" name="relacao[]" class="form-control relacao"><option></option><option value="1">Pai</option><option value="2">Mãe</option><option value="5">Irmão/Irmã</option><option value="3">Avô/Avó</option><option value="8">Madrasta</option><option value="7">Padrasto</option><option value="6">Primo/Prima</option><option value="4">Tio/Tia</option><option value="9">Outro</option></select>
                                            <input class="form-control" name="parentescoComponenteRenda[]" type="text" value="Criança" readOnly /> 
                                        </td>
                                        <td> <input class="form-control" name="atividadeComponenteRenda[]" type="text" readOnly /> </td>
                                        <td> <input class="form-control" name="localTrabalhoComponenteRenda[]" type="text" readOnly /> </td>
                                        <td> <input id="rendimentoComponenteRenda1" class="form-control" name="rendimentoComponenteRenda[]" type="text" value="0" readOnly /> </td>
                                        <td> <input style="display:none;" id='responsavel1' class="form-control responsaveis" name="responsavel[]" value='1' type="checkbox" /> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                <strong>Renda Per Capita:</strong>
                                R$ <span id="rendaCalculada">0.00</span>
                                <button id="btnCalcular" type="button" class="btn btn-link">Calcular</button>
                            </p>
                            <p>
                                <button id="btnAdicionarComponenteRenda" class="btn btn-primary" type="button">Adicionar</button>
                                <button id="btnRemoverComponenteRenda" class="btn btn-primary" type="button">Remover</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row" style="padding-top: 1em;">
            <div class="col-lg-4">
                <button id="btnCadastrar" type="button" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(".responsavel").each(function(){
            var val = $(this).val();
        });
        
        $("#componenteRenda1 td select").hide();
        
        $("#btnCadastrar").click( function(ev) {
            if($("#unidade").val() === "") {
                alert("Preencha o campo unidade pretendida");
            } else if ($("#filiacaoNome1").val().length === 0) {
                alert("Preencha ao menos um campo de responsáveis");
            } else if ($("#filiacaoCPF1").val().length === 0) {
                alert("Preencha ao menos um campo de responsáveis");
            } else if ($("#filiacaoRG1").val().length === 0) {
                alert("Preencha ao menos um campo de responsáveis");
            } else if ($("#filiacaoParentesco1").val().length === 0) {
                alert("Preencha ao menos um campo de responsáveis");
            {% if tipoInscricao.id == constant('SME\\FilaUnicaBundle\\Entity\\TipoInscricao::TRANSFERENCIA') %}
            } else if ($("#codigoAluno").val().length === 0) {
                alert("Preencha o código de aluno do Erudio");
            } else if ($("#dataMatricula").val().length === 0) {
                alert("Preencha a data de matrícula do Erudio");
            {% endif %}
            } else {
                $.ajax({
                    type: "POST",
                    url: "{{path('fu_inscricao_validar')}}",
                    data: $("#formCadastroInscricao").serialize(),
                    success: function(retorno){
                        if(retorno.valida === true) {
                            $("#formCadastroInscricao").submit();
                        } else {
                            $("#error").html(retorno.erro);
                            $("#modalError").modal("show");
                        }
                    },
                    error: function() {
                        $("#error").html("Falha na comunicação com o servidor. Verifique sua conexão de Internet.");
                        $("#modalError").modal("show");
                    }
                });
            }
            ev.preventDefault();
        });
             
        $("#divCpf").hide();
        $("#divCertidaoAntiga").hide();
        
        $("#documentoIdentificacao").change( function() {
            switch($(this).val()) {
                case "cpf":
                    $("#divCpf").show();
                    $("#divCertidaoNova").hide();
                    $("#divCertidaoAntiga").hide();
                    break;
                case "certidaoNascimentoNova":
                    $("#divCpf").hide();
                    $("#divCertidaoNova").show();
                    $("#divCertidaoAntiga").hide();
                    break;
                case "certidaoNascimentoAntiga":
                    $("#divCpf").hide();
                    $("#divCertidaoNova").hide();
                    $("#divCertidaoAntiga").show();
                    break;
            }
        });
        
        {% if tipoInscricao.id == constant('SME\\FilaUnicaBundle\\Entity\\TipoInscricao::REGULAR') %}
            $("#btnRenda").click( function() {
                $('#modalDialog').modal("show");
            });
            
            $('.nome1').change(function(){
                $('#nome').val($(this).val());
            });

            $("#btnAdicionarComponenteRenda").click( function() {
                var id = $("#componentesRenda tr").size() + 1;
                $("#componentesRenda").append('<tr id="componenteRenda' + id + '" >' +
                    '<td> <input class="form-control nome' + id + '" name="nomeComponenteRenda[]" type="text" /> </td>' +
                    '<td> <select id="relacao' + id + '" name="relacao[]" class="form-control relacao"><option></option><option value="1">Pai</option><option value="2">Mãe</option><option value="5">Irmão/Irmã</option><option value="3">Avô/Avó</option><option value="8">Madrasta</option><option value="7">Padrasto</option><option value="6">Primo/Prima</option><option value="4">Tio/Tia</option><option value="10">Guarda Judicial</option><option value="9">Outro</option></select> <input id="outro' + id + '" class="form-control" name="parentescoComponenteRenda[]" placeholder="Insira Parentesco" type="hidden" /> </td>' +
                    '<td> <input class="form-control" name="atividadeComponenteRenda[]" type="text" /> </td>' +
                    '<td> <input class="form-control" name="localTrabalhoComponenteRenda[]" type="text" /> </td>' +
                    '<td> <input id="rendimentoComponenteRenda' + id + '" class="form-control" name="rendimentoComponenteRenda[]" type="text" /> </td>' +
                    '<td> <input id="responsavel' + id + '" class="form-control responsaveis" value="' + id + '" name="responsavel[]" type="checkbox" /> </td>' +
                    '</tr>');
                
                $('#outro'+id).hide();
                
                $('#relacao'+id).change(function(){
                    if ($(this).val() === "9") { $('#outro'+id).attr('type','text').show(); $('#outro'+id).val(''); } else { $('#outro'+id).attr('type','hidden'); var val = $(this).val(); $("#outro"+id).val($('#relacao'+id+' option[value="' + val + '"]').html()); }
                    if ($(this).val() === "1") { $('#nomePai').val($('.nome'+id).val()); }
                    if ($(this).val() === "2") { $('#nomeMae').val($('.nome'+id).val()); }
                });
                                
                $('.responsaveis').unbind().click(function(event){
                    var contador = 0;
                    $('#componentesRenda input:checked').each(function(){ contador++; });
                    if (contador > 2) {
                        event.preventDefault();
                    } else {
                        if ($(this).is(':checked')) {
                            var id = $(this).val();
                            var nome = $('.nome'+id).val();
                            var parentesco = $('#relacao'+id).val();
                            if ($("#filiacaoNome1").val() === "") {
                                $(this).addClass('responsavel1');
                                $("#filiacaoNome1").val(nome).attr('readonly','readonly');
                                $('#filiacaoParentesco1 option[value="' + parentesco + '"]').attr('selected','selected');
                                $('#filiacaoParentesco1').attr('readonly','readonly');
                            } else {
                                $(this).addClass('responsavel2');
                                $("#filiacaoNome2").val(nome).attr('readonly','readonly');
                                $('#filiacaoParentesco2 option[value="' + parentesco + '"]').attr('selected','selected');
                                $('#filiacaoParentesco2').attr('readonly','readonly');
                            }
                        } else {
                            if ($(this).hasClass('responsavel1')) {
                                $("#filiacaoNome1").val('').removeAttr('readonly');
                                $('#filiacaoParentesco1').removeAttr('readonly');
                            } else {
                                $("#filiacaoNome2").val('').removeAttr('readonly');
                                $('#filiacaoParentesco2').removeAttr('readonly');
                            }
                        }
                    }
                });
            });
            

            $("#btnRemoverComponenteRenda").click( function() {
                var id = $("#componentesRenda tr").size();
                $("#componentesRenda").children("#componenteRenda" + id).remove();
            });

            $("#btnCalcular").click( function() {
                var renda = 0.0;
                for(var i = 1; i <= $("#componentesRenda tr").size(); i++) {
                    renda += parseFloat($('#rendimentoComponenteRenda' + i).val().replace(",","."));
                }
                var rendaPerCapita = renda / $("#componentesRenda tr").size();
                $("#rendaCalculada").text(rendaPerCapita.toString().replace(".",","));
                $("#rendaPerCapita").attr('value', rendaPerCapita.toString().replace(".",","));
            });
        {% endif %}
    </script>
{% endblock %}
