{% extends '::templateModal.html.twig' %}

{% block modalTitle %} Inscrição {{inscricao.protocolo}} > Histórico {% endblock %}

{% block modalBody %}  
    <table class="table table-striped table-hover">
        <tr>
            <th>Evento</th>
            <th>Data</th>
            <th>Responsável</th>
            <th>Opções</th>
        </tr>
        {% for evento in inscricao.historico %}
            <tr>
                <td>{{evento.descricao}}</td>
                <td>{{evento.dataOcorrencia|date('d/m/Y')}}</td>
                <td>{{evento.pessoaCadastrou.nome}}</td>
                <td>
                    <a class="ajaxAction" href="{{url('fu_inscricao_excluirEvento', {'evento': evento.id})}}">Excluir</a>
                </td>
            </tr>
        {% else %}
            <tr> 
                <td class="text-center" colspan="3"> <em>Nenhum evento cadastrado</em> </td> 
            </tr>
        {% endfor %}
    </table>
    <form id="formEvento">
        <div class="row">
            <div class="col-lg-6">
               <label for="dataOcorrencia">Data de Ocorrência:</label>
               <input id="dataOcorrencia" name="dataOcorrencia" class="form-control datepickerSME" required />
            </div>
        </div>
        <div class="row"> 
            <div class="col-lg-12">
               <label for="descricao">Descrição:</label>
               <textarea id="descricao" name="descricao" class="form-control form-control-static" rows="3" required ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
               <br />
               <button id="btnIncluir" type="button" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("#btnIncluir").click(function() {
            $.ajax({
                type: "POST",
                url: "{{url('fu_inscricao_incluirEvento', {'inscricao': inscricao.id})}}",
                data: $("#formEvento").serialize(),
                success: function(retorno) {
                    $("#divModal").html(retorno);
                }
            });
        });

        $(".ajaxAction").click(function(ev) {
                $.ajax({
                    type: "POST",
                    url: $(this).attr("href"),
                    success: function(retorno) {
                        $("#divModal").html(retorno);
                    }
                });
                ev.preventDefault();
        });
    </script>
{% endblock %}