{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Vagas > Abertura {% endblock %}

{% block page %}
    <form id="formCadastroVaga" method="post" action="{{path('fu_vaga_cadastrar')}}">
        <div class="row">
            <div class="col-lg-6">
                <label for="unidade">Unidade:</label>
                <select class="form-control" id="unidade" name="unidade" required >
                    <option>Selecione uma unidade</option>
                    {% for unidade in unidades %}
                        <option value="{{unidade.id}}"> {{unidade.nome}} | {{unidade.zoneamento.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <label for="ano">Turma:</label>
                <select class="form-control" id="ano" name="ano" required >
                    <option>Selecione um ano escolar</option>
                    {% for ano in anosEscolares %}
                        <option value="{{ano.id}}"> {{ano.nome}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="periodo">Período:</label>
                <select class="form-control" id="periodo" name="periodo" required >
                    {% for periodo in periodos %}
                        <option value="{{periodo.id}}"> {{periodo.nome}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <label for="">Número de vagas:</label>
                <input class="form-control" id="quantidade" name="quantidade" type="number" min="1" value="1" required />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button id="btnCadastrar" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnCadastrar").click( function(ev) {
            if($("#unidade").val() > 0 && $("#ano").val() > 0) {
                if(confirm("Confirmar criação das vagas?")) {
                    $("#formCadastroVaga").submit();
                }
            } else {
                alert("Preencha todos os campos");
            }
            ev.preventDefault();
        });
    </script>
{% endblock %}
