{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Vagas > Gerência {% endblock %}

{% block page %}
    <form id="formPesquisaVaga">
        {% if is_granted('ROLE_INFANTIL_MEMBRO') %}
            <div class="row">
                <div class="col-lg-12">
                    <label for="zoneamento">Zoneamento:</label>
                    <select id="zoneamento" name="zoneamento" class="form-control">
                        <option value="">Todos</option>
                        {% for zoneamento in zoneamentos %}
                            <option value="{{zoneamento.id}}"> {{zoneamento.nome}} - {{zoneamento.descricao}} </option>
                        {% endfor %}
                    </select>
               </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6">
                <label for="unidade">Unidade:</label>
                <select id="unidade" name="unidade" class="form-control">
                    {% if is_granted('ROLE_INFANTIL_MEMBRO') %} <option value="">Todos</option> {% endif %}
                    {% for unidade in unidades %}
                        <option value="{{unidade.id}}"> {{unidade.nome}} | {{unidade.zoneamento.nome}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <label for="ano">Turma:</label>
                <select id="ano" name="ano" class="form-control">
                    <option value="">Todos</option>
                    {% for ano in anosEscolares %}
                        <option value="{{ano.id}}"> {{ano.nome}} </option>
                    {% endfor %}
                </select>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-6">
               <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
           </div>
        </div>
    </form>

    <div id="divListaVagas"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnBuscar").click( function() {
            $.ajax({
                type: "POST",
                url: "{{path('fu_vaga_pesquisar')}}",
                data: $("#formPesquisaVaga").serialize(),
                success: function(retorno){
                    $("#divListaVagas").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}