{% extends 'PublicacaoBundle:Index:menu.html.twig' %}

{% block headerTitle %}Publicações SME > Publicar{% endblock %}

{% block upload %}
    <hr />
    <h4>Enviar Arquivo</h4>
    
    {{ form_start(form) }}
        <label for="{{form.arquivo.vars.id}}">Arquivo *</label>
        {{ form_widget(form.arquivo) }}
        <label for="{{form.nomeExibicao.vars.id}}">Nome Exibição *</label>
        {{ form_widget(form.nomeExibicao) }}
        <label for="{{form.publicacao.vars.id}}">Data de Publicação *</label>
        {{ form_widget(form.publicacao, { 'attr': {'class': 'form-control datetimepickerSME'} }) }}
        <label for="{{form.visibilidade.vars.id}}">Visibilidade *</label>
        {{ form_widget(form.visibilidade) }}
        <br />
        {{ form_widget(form.Salvar) }}
    {{ form_end(form) }}
{% endblock %}

{% block page %}
    <div class="row">
        <div id="page" class="col-lg-10">
            
            <div class="row">
                <div class="col-md-12">
                    <a title="Voltar" class="back_link" href="{{ path('publicacao_raiz') }}">
                        <div class="col-md-2 back_item">
                            <span class="glyphicon glyphicon-chevron-left fix_font_bootstrap" aria-hidden="true"></span>
                        </div>
                    </a>
                        
                    <h4 class="tituloPasta">Pasta {{ grupo.nomeExibicao }}</h4>
                </div>
            </div>
                    
            <div class="row" id="formErrors">
                {{ erros | raw }}
            </div>
            
            <hr />
            
            <h4>Pastas</h4>
            {% for categoria in categorias %}
                <a class="folder_link" href="{{ path('publicacao_subpasta', {'id': categoria.id}) }}"><div class="col-md-12 folder_item"><span class="fix_font_bootstrap glyphicon glyphicon-folder-open folder-color" aria-hidden="true"></span> &nbsp; {{ categoria.nomeExibicao }}</div></a>
            {% else %}
                <h3>Não há pastas neste grupo/categoria.</h3>
            {% endfor %}
            <hr />
            <h4>Arquivos</h4>
            {% for documento in documentos %}
                {% if documento.mimeType in mimeTypes.imagens %}
                    <div class="col-md-12 image"> <span class="glyphicon glyphicon-picture fix_font_bootstrap img-color" aria-hidden="true"></span> &nbsp; {{ documento.nomeExibicao }}
                {% endif %}
                {% if documento.mimeType in mimeTypes.textos %}
                    <div class="col-md-12 text metro"> <i class="icon-file-word text-color"></i> &nbsp; {{ documento.nomeExibicao }}
                {% endif %}
                {% if documento.mimeType in mimeTypes.planilhas %}
                    <div class="col-md-12 sheet metro"> <i class="icon-file-excel sheet-color"></i> &nbsp; {{ documento.nomeExibicao }}
                {% endif %}
                {% if documento.mimeType in mimeTypes.apresentacoes %}
                    <div class="col-md-12 presentation metro"><i class="icon-file-powerpoint presentation-color"></i> &nbsp; {{ documento.nomeExibicao }}
                {% endif %}
                {% if documento.mimeType in mimeTypes.filmes %}
                    <div class="col-md-12 movie metro"><i class="icon-film movie-color"></i> &nbsp; {{ documento.nomeExibicao }}
                {% endif %}
                {% if documento.mimeType in mimeTypes.pdf %}
                    <div class="col-md-12 pdf metro"><i class="icon-file-pdf pdf-color"></i> &nbsp; {{ documento.nomeExibicao }}
                {% endif %}
                {% if documento.mimeType in mimeTypes.musicas %}
                    <div class="col-md-12 music metro"><i class="icon-music music-color"></i> &nbsp; {{ documento.nomeExibicao }}
                {% endif %}
                <div class="opcoesArquivo">
                    <a class="itemOpcoes" href="{{ path('publicacao_arquivo_editar', { 'id': documento.id }) }}" data-toggle="modal" data-target="#editarArquivo"><span title="Editar" class="glyphicon glyphicon-pencil fix_font_bootstrap" aria-hidden="true"></span></a>
                    <a class="itemOpt" href="{{ path('publicacao_arquivo_baixar', { 'id': documento.id }) }}"><span title="Baixar" class="glyphicon glyphicon-download-alt fix_font_bootstrap" aria-hidden="true"></span></a>
                    <a class="itemOpt lnkExcluir" href="{{ path('publicacao_arquivo_excluir', { 'id': documento.id }) }}"><span title="Remover" class="glyphicon glyphicon-remove-circle fix_font_bootstrap" aria-hidden="true"></span></a>
                </div> </div>
            {% else %}
                <h3>Não há arquivos neste grupo/categoria.</h3>
            {% endfor %}
        </div>
        
        <div id="editarArquivo" class="modal fade">
            <div class="modal-dialog">
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="loadingModal" style="display:none; background: #ccc; opacity: 0.5; position: absolute; z-index: 600; top: 0; left: 0; width: 100%; height: 100%;"></div>
                        <img class="loadingModal" style="display:none; position: absolute; right: 6px; top: 12px; width: 32px;" src="{{ asset('lib/images/loader.gif') }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modificar Arquivo</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                <input type="hidden" id="CategoriaForm_id" name="CategoriaForm[id]" class="form-control fileId">
                                <label for="CategoriaForm_arquivo">Arquivo *</label>
                                <input type="file" id="CategoriaForm_arquivo" name="CategoriaForm[arquivo]" class="form-control">
                                <label for="CategoriaForm_nomeExibicao">Nome Exibição *</label>
                                <input type="text" id="CategoriaForm_nomeExibicao" name="CategoriaForm[nomeExibicao]" class="form-control fileNome">
                                <label for="CategoriaForm_publicacao">Data de Publicação *</label>
                                <input type="text" id="CategoriaForm_publicacao" name="CategoriaForm[publicacao]" class="form-control datetimepickerSME fileData">
                                <label for="CategoriaForm_visibilidade">Visibilidade *</label>
                                <select id="CategoriaForm_visibilidade" name="CategoriaForm[visibilidade]" class="form-control fileVisibilidade"><option value=""></option><option value="1">Documento Interno</option><option value="2">Documento Externo</option></select>
                                <br>
                                <input type="hidden" id="CategoriaForm__token" name="CategoriaForm[_token]" value="428e74b869126beb0ef057918587669c6099bf3d">
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="CategoriaForm_Salvar" name="CategoriaForm[Salvar]" class="btn btn-primary btn-block">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}