{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Servidor > Promoção Vertical > Solicitar{% endblock %}

{% block page %}
    <div class="row" id="formErrors">
        <div class="alert alert-info" style="padding: 7px; font-size: 12px; width: 95%; margin-left: 2.5%; margin-bottom: 1%; margin-top: 2%;">
            Carga horária necessária: 360 horas
        </div>
        {{ erros | raw }}
    </div>
    
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <label>Número da Matrícula *:</label>
                {{ form_widget(form.matricula, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 1em;">
            <div class="panel-heading">Dados do Curso</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <label>Nome *</label>
                        {{ form_widget(form.nomeCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Carga Horária *</label>
                        {{ form_widget(form.cargaHorariaCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Data de Conclusão *</label>
                        {{ form_widget(form.dataConclusaoCurso, { 'attr': {'class': 'form-control  datepickerSME'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Instituição</label>
                        {{ form_widget(form.instituicaoCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Tipo *</label>
                        {{ form_widget(form.grauCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_widget(form.btnSalvar, { 'attr': {'class': 'btn btn-primary'} }) }}
                <a href="{{path('dgp_servidor_promocao_listar', {'vinculo': vinculo.id})}}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}

