{% extends 'DGPPromocaoBundle:Index:index.html.twig' %}

{% set activeTab = '2' %}

{% block tabContent %}
    <div class="row" id="formErrors">
        {{ erros | raw }}
    </div>
    
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-2">
                <label>Ano:</label>
                {{ form_widget(form.ano, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-md-2">
                <label>A Contar De:</label>
                {{ form_widget(form.dataInicio, { 'attr': {'class': 'form-control datepickerSME'} }) }}
            </div>
            <div class="col-md-4">
                <label>Nível Anterior:</label>
                {{ form_widget(form.nivelAnterior, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-md-4">
                <label>Nível Atual:</label>
                {{ form_widget(form.nivelAtual, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-md-4">
                <label>Status:</label>
                {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-md-8">
                <label>Resposta:</label>
                {{ form_widget(form.resposta, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-md-6">
                <label>Observação:</label>
                {{ form_widget(form.observacao, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
            
        <div class="panel panel-default" style="margin-top: 1em;">
            <div class="panel-heading">Dados do Curso</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <label>Nome:</label>
                        {{ form_widget(form.nomeCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Carga Horária:</label>
                        {{ form_widget(form.cargaHorariaCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Data de Conclusão:</label>
                        {{ form_widget(form.dataConclusaoCurso, { 'attr': {'class': 'form-control  datepickerSME'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Instituição:</label>
                        {{ form_widget(form.instituicaoCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-4">
                        <label>Tipo:</label>
                        {{ form_widget(form.grauCurso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_widget(form.btnSalvar, { 'attr': {'class': 'btn btn-primary'} }) }}
                <a href="{{path('dgp_promocaoVertical_listar', {'vinculo': vinculo.id})}}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
