{% extends 'DGPPromocaoBundle:Index:index.html.twig' %}

{% set activeTab = '2' %}

{% block tabContent %}
    <div class="row" style="margin-top: 10px; cursor: pointer;">
        <a href="{{ path('dgp_promocaoVertical_cadastrar', {'vinculo': vinculo.id}) }}" class="btn btn-primary">
            <span style="color:#fff;" class="glyphicon glyphicon-plus"></span> Cadastrar
        </a>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Protocolo</th>
                    <th>Cadastrado Em</th>
                    <th>Status</th>
                    <th>A Contar de</th>
                    <th>CI</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for promocao in promocoes %}
                    <tr>
                        <td>{{ promocao.protocolo }}</td>
                        <td>{{ promocao.dataCadastro | date('d/m/Y H:i:s') }}</td>
                        <td>
                            {% if promocao.deferido %}
                                <span class="text-success">{{ promocao.status.nome }}</span>
                            {% elseif promocao.indeferido or promocao.cancelado %}
                                <span class="text-danger">{{ promocao.status.nome }}</span>
                            {% else %}
                                {{ promocao.status.nome }}
                            {% endif %}
                        </td>
                        <td>{{ promocao.dataInicio | date('d/m/Y') }}</td>
                        <td>
                            {% if promocao.ciGeral %}
                                {{promocao.ciGeral.numeroAno}}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <a class="lnkAlterar" href="{{ path('dgp_promocaoVertical_alterar', {'vinculo': vinculo.id, 'promocao': promocao.id}) }}">
                                <span title="Alterar" class="glyphicon glyphicon-edit"></span>
                            </a>
                            | <a class="lnkImprimir" target="_blank" 
                               href="{{ path('dgp_promocaoVertical_imprimir', {'vinculo': vinculo.id, 'promocao': promocao.id}) }}">
                                <span title="Imprimir" class="glyphicon glyphicon-print"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="5">
                            <em>Nenhuma promoção cadastrada nesta categoria</em>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
