{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Relatórios > Inscrições {% endblock %}

{% block page %}
    <form>
        <input id="tituloRelatorio" name="tituloRelatorio" value="FILA ÚNICA - Relatório de inscrições" class="form-control" style="font-weight: bold;" type="text" />
    </form>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">Zoneamento</th>
                {% for anoEscolar in anosEscolares %}
                    <th class="text-center">{{anoEscolar.nome}}</th>
                {% endfor %}
                <th class="text-center">Totais</th>
            </tr>
        </thead>
        {% for zoneamento in zoneamentos %}
            <tr>
                <td>{{zoneamento.nome}} - {{zoneamento.descricao}}</td>
                {% for anoEscolar in anosEscolares %}
                    <td class="text-center">{{numerosInscricoes[zoneamento.id][anoEscolar.id]}}</td>
                {% endfor %}
                <td class="text-center">
                    <strong>{{numerosInscricoes[zoneamento.id]['total']}}</strong>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>Totais do Município</td>
            {% for anoEscolar in anosEscolares %}
                <td class="text-center">
                    <strong>{{numerosInscricoes['total'][anoEscolar.id]}}</strong>
                </td>
            {% endfor %}
            <td></td>
        </tr>
        <tr>
            <td>Total Geral</td>
                <td class="text-center">
                    <strong>{{ totalGeral }}</strong>
                </td>
        </tr>
    </table>
{% endblock %}

