<pdf>
    {% embed 'reports/templates/page.twig' %}
        {% block title %}
            <h1>Alunos Enturmados</h1>
            <h3>Nominal</h3>
        {% endblock %}
        
        {% block info %}
            <h3>Turma: {{turma.nomeExibicao}}</h3>
        {% endblock %}    
        
        {% block content %}
            <div font-size="8px" breakable="false">
                <table>
                    <tr font-size="9px">
                        <td width="90px"><strong>Matrícula</strong></td>
                        <td><strong>Nome</strong></td>
                        <td width="60px"><strong>Data Nascimento</strong></td>
                        <td width="38px"><strong>Gênero</strong></td>
                        <td><strong>Pais</strong></td>
                    </tr>
                    {% for e in enturmados %}
                        <tr>
                            <td>{{e.matricula.codigo}}</td>
                            <td text-align="left">{{e.matricula.aluno.nome|upper}}</td>
                            <td>{{e.matricula.aluno.dataNascimento|date('d/m/Y')}}</td>
                            <td>{{e.matricula.aluno.genero}}</td>
                            <td  text-align="left">
                                {{e.matricula.aluno.nomeMae|upper}} 
                                <br/> {{e.matricula.aluno.nomePai|upper}}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
       {% endblock %}
    {% endembed %}
</pdf>
