{% extends 'DGPBundle:Pessoa:cadastroPessoa.html.twig' %}

{% set activeTab = '4' %}

{% block headerTitle %}DGP > Pessoas > {{pessoa.nome}} > Títulos > {{formacao is defined ? formacao.nome : 'Novo'}}{% endblock %}

{% block tabContent %}
    <div class="row" id="formErrors">
        {{ erros | raw }}
    </div>
    {{ form_start(form, { 'attr': { 'id': 'formacaoForm' }}) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.nome) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.cargaHoraria) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.dataConclusao, {'attr': {'class': 'form-control datepickerSME'} }) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.instituicao) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.grauFormacao) }}
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.btnSalvar, { 'attr': { 'class': 'btn btn-primary btn-block' } }) }}
            </div>
            <div class="col-lg-6">
                <a class="btn btn-danger btn-block" href="{{ path('dgp_pessoa_formacao_listar', { 'pessoa': pessoa.id }) }}">Cancelar</a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}