{% extends 'DGPBundle:Pessoa:cadastroPessoa.html.twig' %}

{% set activeTab = '4' %}

{% block headerTitle %}DGP > Pessoas > {{pessoa.nome}} > Titulação{% endblock %}

{% block tabContent %}
    <div class="row" style="margin-top: 10px; cursor: pointer;">
        <a href="{{path('dgp_pessoa_formacao_cadastrar', {'pessoa': pessoa.id})}}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Cadastrar
        </a>
    </div>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Curso</th>
                    <th>C.H.</th>
                    <th>Instituição</th>
                    <th>Conclusão</th>
                    <th>Nível</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for formacao in formacoes %}
                    <tr>
                        <td>{{ formacao.nome }}</td>
                        <td>{{ formacao.cargaHoraria }}</td>
                        <td>{{ formacao.instituicao }}</td>
                        <td>{{ formacao.dataConclusao|date('d/m/Y') }}</td>
                        <td>{{ formacao.grauFormacao.nome }}</td>
                        <td>
                            <a class="lnkAlterar" href="{{ path('dgp_pessoa_formacao_alterar', {'pessoa': pessoa.id, 'formacao': formacao.id }) }}">
                                <span title="Alterar" class="glyphicon glyphicon-edit"></span>
                            </a> |
                            <a class="lnkExcluir" href="{{path('dgp_pessoa_formacao_excluir', {'pessoa': pessoa.id, 'formacao': formacao.id }) }}">
                                <span title="Excluir" class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="6">
                            <em>A pessoa não possui nenhum título cadastrado</em>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}