{% extends '::templateModal.html.twig' %}

{% block modalTitle %} Nova Matricula {% endblock %}

{% block modalBody %}
    <div class="container">
        <div class="row">
            {{ form_start(form, { 'attr': { 'id': 'matriculaForm' } }) }}
                {{ form_row(form.nome, {'attr': { 'class': 'form-control', 'placeholder': 'Digite seu nome' } }) }}
                {{ form_row(form.cpf, {'attr': { 'class': 'form-control', 'placeholder': 'Digite seu CPF' } }) }}
                {{ form_row(form.email, {'attr': { 'class': 'form-control', 'placeholder': 'Digite seu email' } }) }}
                {{ form_row(form.profissao, {'attr': { 'class': 'form-control', 'placeholder': 'Digite sua profissão' } }) }}
                <hr />
                {{ form_row(form.Inscrever) }}
            {{ form_end(form) }}
        </div>
    </div>
            
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('document').ready(function(){
            $("#matriculaForm").submit(function (event){
                event.preventDefault();

                var jsonObject = { 'nome': $("#form_nome").val(), 'cpf': $("#form_cpf").val(), 'email': $("#form_email").val(), 'profissao': $("#form_profissao").val() };
                var jsonString = JSON.stringify(jsonObject);

                $.ajax({
                    url: '{{ path('dgp_publico_postMatricula', { formacao: formacao.id } ) }}',
                    type: "POST",
                    dataType: "json",
                    data: jsonString,
                    success: function (data){
                        if (data.result === "success") {
                            $.bootstrapGrowl(data.message, { type: 'success', delay: 3000 });
                        } else {
                            $.bootstrapGrowl(data.message, { type: 'danger', delay: 3000 });
                        }
                    }
                });
            });    
        });
    </script>
{% endblock %}
