{% extends '::paginaExterna.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{asset('lib/bootstrap/less/bootstrap.less')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/intranet/css/signin.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('lib/fancybox/jquery.fancybox.css')}}" />
{% endblock %}

{% block body %}
    <a href="{{ path('login') }}" class="public-link"><span class="glyphicon glyphicon-log-in"></span> Efetuar Login</a>
    <div class="container">        
        <div class="row">
            <div class="span12" style="position: relative;">
            	<div class="adjust-text-public">
                    <h1 class="title">Serviços Públicos</h1>
                    <ul class="ul_public_services">
                        <!-- <li><a href="{{ path('requerimento_externo') }}"><span class="glyphicon glyphicon-transfer"></span> - Requerimento Externo</a></li> -->
                        <li><a href="{{ path('consulta_fila_unica') }}"><span class="glyphicon glyphicon-th-list"></span> - Consulta Fila Única</a></li>
                        <li><a href="{{ path('formacao_externa') }}"><span class="glyphicon glyphicon-book"></span> - Formações Externas</a></li>
                        <li><a href="{{ path('formacao_externa_consulta') }}"><span class="glyphicon glyphicon-print"></span> - Meus Certificados</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
            
{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('lib/bootstrap/assets/js/less.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap-growl.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap-alert.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/jquery/jquery.mousewheel-3.0.6.pack.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/fancybox/jquery.fancybox.js')}}"></script>
    <script type="text/javascript">
    	{% for message in app.session.flashbag.get('message') %}
            $.bootstrapGrowl("{{message}}", { type: 'info', delay: 3000 });
        {% endfor %}
        {% for error in app.session.flashbag.get('error') %}
            $.bootstrapGrowl("{{error}}", { type: 'danger', delay: 3000 });
        {% endfor %}
        {% for success in app.session.flashbag.get('success') %}
            $.bootstrapGrowl("{{success}}", { type: 'success', delay: 3000 });
        {% endfor %}
    </script>
{% endblock %}