{% extends '::templateModal.html.twig' %}

{% block modalTitle %}Suporte Técnico > Anotações > Nova{% endblock %}

{% block modalBody %}
    {{form_start(form, {'action': path('suporte_anotacao_cadastrar', {'chamado': chamado.id}) })}}
        <div class="row" id="formErrors"> {{ errors|raw }} </div>
        <div class="row">
            <div class="col-lg-12">
                {{form_label(form.descricao)}}
                {{form_widget(form.descricao, {'attr': {'class': 'form-control'} })}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{form_widget(form.btnSalvar, {'attr': {'class': 'btn btn-primary'} })}}
            </div>
        </div>
    {{form_end(form)}}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("#{{form.vars.id}}").submit(function(ev) {
            $.ajax({
                type: "POST",
                url: $("#{{form.vars.id}}").attr('action'),
                data: $("#{{form.vars.id}}").serialize(),
                success: function(retorno) {
                    $("#divModal").html(retorno);
                }
            });
            $('#modalDialog').modal("show");
            ev.preventDefault();
        });
    </script>
{% endblock %}
