{% extends app.request.isXmlHttpRequest ? '::templateAjax.html.twig' : '::template.html.twig' %}

{% block headerTitle %}Suporte Técnico SME{% endblock %}

{% block body %}
    {% if not app.request.isXmlHttpRequest %}
        <div class="row">
            <menu class="col-lg-2">
                <div class="list-group">
                    <a class="list-group-item" href="{{path('suporte_chamado_cadastrar')}}">Abrir Chamado</a>
                    <a class="list-group-item" href="{{path('suporte_chamado_pesquisar')}}">Chamados</a>
                    {% if is_granted('ROLE_SUPORTE_ADMIN') %}
                        <a class="list-group-item" href="{{path('suporte_equipe_pesquisar')}}">Equipes</a>
                        <a class="list-group-item" href="{{path('suporte_categoria_pesquisar')}}">Categorias</a>
                    {% endif %}
                </div>
            </menu>
            <div id="page" class="col-lg-10">
                {% block page %}{% endblock %}
            </div>
        </div>
    {% else %}
        {{block('page')}}
    {% endif %}
{% endblock %}
