<pdf>
    {% set i = media - 1 %}
    {% for b in boletins %}
        {% embed 'reports/templates/page.twig' %}
            {% block pageType %}A4{% endblock %}

            {% block title %}
                <h1>Boletim Escolar {{"now"|date('Y')}}</h1>
                <h3> {{media}}º {{unidadeRegime}}</h3>
            {% endblock %}

            {% block headerHeight %}90px{% endblock %}

            {% block info %}
                <p><strong>Aluno: {{b.matricula.aluno.nome}}</strong></p>
                <p>Matrícula: {{b.matricula.codigo}}</p>
                <p>Turma: {{turma.nomeExibicao}}</p>
                <p>Curso: {{turma.etapa.curso.nome}}</p>
            {% endblock %}

            {% block content %}
                <div margin="0" padding="0" font-size="10px">
                    <table>
                        {% for disciplina in b.disciplinas %}
                            <tr>
                                <td colspan="2" text-align="left" border.type="none">
                                    <strong>DISCIPLINA: {{disciplina.nomeExibicao|upper}} </strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Habilidade</strong>
                                </td>
                                <td width="100px">
                                    <strong>Resultado Final</strong>
                                </td>
                            </tr>
                            {% for habilidade in disciplina.medias[i].habilidadesAvaliadas %}
                                <tr>
                                    <td>
                                        {{habilidade.habilidade.nome}}
                                    </td>
                                    <td>
                                        {{habilidade.conceito.sigla}}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr margin-bottom="10px">
                                <td text-align="left">
                                    <strong>Situação: {{disciplina.status}}</strong>
                                </td>
                                <td>
                                    <strong>Nota: {{disciplina.medias[i].valor|number_format(1) }}</strong>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>    
                    <table>
                        <tr>
                            <td text-align="left" border.type="none">
                                <strong>Total de Faltas: {{b.disciplinas[3].medias[i].faltas}}</strong>
                            </td>
                            <td text-align="right" border.type="none">
                                <strong>Situação Final: {{b.status}}</strong>
                            </td>
                        </tr>
                    </table>
                </div>
                <div margin-top="15px" width="320px" font-size="10px">
                    <table>
                        <tr>
                            <td colspan="3">
                                <strong>Tabela de Conceitos</strong>
                            </td>
                        </tr> 
                        {% for c in conceitos %}
                            <tr>
                                <td width="50px">{{c.sigla}}</td>
                                <td>{{c.nome}}</td>
                                <td width="100px">
                                    {% if c.valorMaximo == 0 %}
                                        Nota anulada
                                    {% elseif c.valorMinimo == c.valorMaximo %}
                                        {{c.valorMaximo}}
                                    {% else %}
                                        {{c.valorMinimo}} ~ {{c.valorMaximo}}*
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3">
                                * Maior valor é usado se o conceito for o predominante na disciplina
                            </td>
                        </tr> 
                    </table>
                </div>
            {% endblock %}
        {% endembed %}
    {% endfor %} 
</pdf>


