<pdf>
    {% for b in boletins %}
        {% embed 'reports/templates/page.twig' %}
            {% block pageType %}A4{% endblock %}

            {% block title %}
                <h1>Boletim Escolar - {{"now"|date('Y')}}</h1>
            {% endblock %}
            
            {% block headerHeight %}100px{% endblock %}
            
            {% block info %}
                <p>Aluno: {{b.matricula.aluno.nome}}</p>
                <p>Matrícula: {{b.matricula.codigo}}</p>
                <p>Turma: {{turma.nomeExibicao}}</p>
                <p>Curso: {{turma.etapa.curso.nome}}</p>
                <p>Etapa: {{turma.etapa.nomeExibicao}}</p>
            {% endblock %}

            {% block content %}
                <div margin="0" padding="0" font-size="8px">
                    <table>
                        <tr>
                          <td width="120px">
                            <strong>Disciplina</strong>
                          </td>
                          <td>
                            <strong>Habilidade</strong>
                          </td>
                          <td width="60px">
                            <strong>Resultado Final</strong>
                          </td>
                        </tr>
                        {% for disciplina in b.disciplinas %}
                            <tr line-height="15px">
                                <td text-align="left">
                                    {{disciplina.nomeExibicao}}
                                </td>
                                <td>
                                    {{disciplina.habilidade.nome}}
                                </td>
                                <td>
                                    {{disciplina.}}
                        {% endfor %}
                    </table>    
                    
                </div>
            {% endblock %}
        {% endembed %}
    {% endfor %}
</pdf>


