{% extends 'DGPBundle:Entidade:cadastroEntidade.html.twig' %}

{% set activeTab = '2' %}

{% block headerTitle %}DGP > Entidades > {{entidade.nome}} > Endereço {% endblock %}

{% block tabContent %}
    {{ form_start(form, { 'attr': { 'id': 'enderecoForm' }}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.cep) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.cidade) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.bairro) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.logradouro) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.numero) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.complemento) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.latitude) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.longitude) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.btnSalvar) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">		
        var cidades = new Array(); 
        {% for cidade in cidades %}
            cidades["{{ cidade.id }}"] = "{{ cidade.nome }}";
        {% endfor %}

        $("#EnderecoForm_cep").change(function () {
            $.ajax({
                url: 'http://cep.republicavirtual.com.br/web_cep.php',
                type: 'POST',
                data: { cep: $(this).val(), formato: 'json' },
                success: function (data)
                {
                    $("#EnderecoForm_bairro").val(data.bairro);
                    $("#EnderecoForm_logradouro").val(data.tipo_logradouro + ' ' + data.logradouro);
                    var city = cidades.indexOf(data.cidade);
                    $("#EnderecoForm_cidade").val(city);
                }
            });
        });
    </script>
{% endblock %}