{% extends '::paginaExterna.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{asset('lib/bootstrap/less/bootstrap.less')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/intranet/css/signin.css')}}" />
{% endblock %}

{% block body %}
    <form action="{{ path('login_check') }}" method="post" class="form-signin">
        <!-- <h2 class="form-signin-heading">Faça seu login</h2> -->
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Nome de usuário" autofocus />
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
{% endblock %}
            
{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('lib/bootstrap/assets/js/less.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap-alert.js')}}"></script>
    {% if error %}
        <script type="text/javascript" >    
            $.bootstrapGrowl("{{error.message}}", { type: 'danger', delay: 5000 }); 
        </script> 
    {% endif %}
{% endblock %}
