{% extends '::paginaExterna.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{asset('lib/bootstrap/less/bootstrap.less')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/intranet/css/signinMobile.css')}}" media="screen and (max-width: 480px)" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/intranet/css/signin.css')}}" media="screen and (min-width: 481px)" />
    <link rel="stylesheet" type="text/css" href="{{asset('lib/fancybox/jquery.fancybox.css')}}" />
{% endblock %}

{% block body %}
    <div id="top_menu_access">
        <img src="{{asset('bundles/intranet/images/login_header_lg.gif')}}" class="img-responsive logo" alt="Logo Intranet" />
    </div>
    <div id="login_area">
        <form id="form_login" action="{{ path('login_check') }}" method="post" class="" role="form">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control cpf loginInput" placeholder="Insira seu CPF" autofocus />
            <input type="password" id="password" name="_password" class="form-control loginInput" placeholder="Digite sua senha" />
            <button class="btn btn-primary enter loginButton" type="submit">Entrar</button>
            <br />
            Digite seu CPF e Senha para entrar ou <a id="link_recovery" style="cursor: pointer;">solicite uma nova senha.</a>
        </form>
        <form id="form_recovery" style="display: none;" id="form_recovery" action="{{ path('intranet_recover_email') }}" method="post" class="" role="form">
            <input type="text" id="username" name="username" class="form-control cpf getEmail loginInput" placeholder="Insira seu CPF" autofocus />
            <input type="text" label="{{ path('intranet_get_email') }}" id="email" name="email" class="form-control setEmail loginInput" placeholder="Informe seu e-mail" />
            <button class="btn btn-primary loginButton" type="submit">Recuperar</button>
            <br />
            Já sei a minha senha, <a style="display: none; cursor: pointer;" id="link_login">quero entrar no sistema.</a>
        </form>
    </div>
    <div class="container">
        <div id="title" style="">&nbsp;</div>
        <div id="tabs" style="margin-top: 1%;">
            <ul class="nav nav-tabs">
                <li class="active menuSigninItem"><a href="#welcome" data-toggle="tab">Bem-Vindo!</a></li>
                <li class="menuSigninItem"><a href="#novousuario" data-toggle="tab">Novo por aqui?</a></li>
                <li class="menuSigninItem"><a href="#filaunica" data-toggle="tab">Fila Única</a></li>
                <li class="menuSigninItem"><a href="#formacao" data-toggle="tab">Formação Continuada</a></li>
                <li class="menuSigninItem"><a href="#certificados" data-toggle="tab">Certificados</a></li>
                <li class="menuSigninItem"><a href="#requerimentos" data-toggle="tab">Requerimentos</a></li>
                <!-- <li class="menuSigninItem"><a href="#publicacoes" data-toggle="tab">Publicações</a></li> -->
                <li class="menuSigninItem"><a href="#estagio" data-toggle="tab">Estágio</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane active" id="welcome">
                    <div class="container paddingTop">
                        <div class="row">
                            <div class="col-lg-6" style="text-align: justify;">
                               Bem vindo à <strong>Intranet da Secretaria Municipal de Educação</strong>. Aqui você tem acesso aos serviços públicos, como consultar uma inscrição no Fila Única ou validar um certificado de formação. Caso realize acesso como servidor na parte superior da página, poderá também fazer requerimentos, acessar o ambiente virtual Educline ou inscrever-se em formações continuadas, além de outros recursos.
                            </div>
                            <div class="col-lg-6" style="text-align: justify;">
                                Caso seu usuário <strong>já exista</strong> e você <strong>não lembre ou não tenha recebido</strong> sua senha, não se preocupe!
                                Você pode criar uma senha nova em poucos passos:
                                <br /><br />
                                <ol>
                                    <li>Clique em "solicite uma nova senha" abaixo do botão "Entrar"</li>
                                    <li>Forneça seu número de CPF e e-mail cadastrado no sistema</li>
                                    <li>Abra a caixa de entrada do seu e-mail e acesse o link indicado</li>
                                    <li>Na página que abrir, insira sua nova senha e salve. Sua senha foi modificada e você está pronto para acessar os recursos do servidor!</li>
                                </ol>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="novousuario">
                    {{ render( controller('IntranetBundle:Acesso:firstAccess') ) }}
                </div>
                <div class="tab-pane" id="filaunica">
                    {{ render( controller('PublicBundle:Public:consultaFilaUnica') ) }}
                </div>
                <div class="tab-pane" id="formacao">
                    {{ render( controller('PublicBundle:Public:formacaoExterna') ) }}
                </div>
                <div class="tab-pane" id="certificados">
                    {{ render( controller('PublicBundle:Public:buscaCertificados') ) }}
                </div>
                <div class="tab-pane" id="requerimentos">
                    {{ render( controller('PublicBundle:Public:requerimentosExternos') ) }}
                </div>
                <div class="tab-pane" id="estagio">
                    {{ render( controller('EstagioBundle:Estagio:solicitarEstagio') ) }}
                </div>
            </div>
        </div>
    </div>
    <div id="modalSenha" class="modal fade" role="dialog" aria-labelledby="myModalLabel" style="width: 70%; height: 55%; left: 50%; margin-left: -35%; top: 50%; margin-top: -20%; overflow: hidden; background: #fafafa;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Senha Atual Expirada.</h3>
        </div>
        <div class="modal-body">
            <p>
               Olá, <strong>{{ nomeUsuario }}</strong>.<br /><br />
               De acordo com as políticas de segurança da Intranet, sua senha de acesso expirou e precisa ser redefinida.<br />
               Verifique seu e-mail e clique no botão Recuperar e enviaremos um e-mail para a redefinição de senha.<br /><br />
               
               <form style="margin-bottom: 15px; margin-top: -15px;" id="form_recovery2" id="form_recovery2" action="{{ path('intranet_recover_email') }}" method="post" class="" role="form">
                    <input style="width: 40%; float: left;" type="hidden" id="username" name="username" class="form-control" placeholder="Insira seu CPF" value="{{ username }}" />
                    <input style="width: 40%; float: left;" type="text" value="{{ email }}" id="email" readonly="readonly" name="email" class="form-control" placeholder="Informe seu e-mail" />
                    <button style="width: 20%;" class="btn btn-primary loginButton" type="submit">Recuperar</button>
                </form>

               Se este não for o seu e-mail, entre em contato o gestor da sua unidade ou fale conosco pelo atendimento online.<br /><br />
               Agradecemos pela compreensão.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">SAIR</button>
        </div>
    </div>
    <footer class="paddingTop online-chat" style="min-height: 12em;">
    <!--    <a style="position: fixed; bottom: 0em; right: 0em;" href="http://chat.educacao.itajai.sc.gov.br/client.php?locale=pt-br" target="_blank" onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 &amp;&amp; window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open(&#039;http://chat.educacao.itajai.sc.gov.br/client.php?locale=pt-br&amp;url=&#039;+&#039;&amp;referrer=&#039;, 'mibew', 'toolbar=0,scrollbars=0,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;">
            <img alt="Atendimento Online" src="{{asset('bundles/intranet/images/atendimento-online.png')}}" />
        </a>-->
    </footer>
{% endblock %}
            
{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('lib/bootstrap/assets/js/less.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap-growl.min.js')}}"></script>
    <!-- <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap-alert.js')}}"></script> -->
    <script type="text/javascript" src="{{asset('lib/jquery/jquery.mousewheel-3.0.6.pack.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/fancybox/jquery.fancybox.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/intranet/js/login.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/intranet/js/formacoes.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/intranet/js/filaUnica.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/intranet/js/certificados.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/intranet/js/requerimentoExterno.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/jquery/validatePassword.js')}}"></script>
    <script type="text/javascript">
        {% for success in app.session.flashbag.get('success') %}
            $.bootstrapGrowl("{{success}}", { type: 'success', delay: 5000 });
        {% endfor %}
        
        function bindClickFolder () {
            $('.folder_link').on('click', function(ev){
                ev.preventDefault();
                $.ajax({
                    url: $(this).attr('href'),
                    type: 'GET',
                    success: function (data){
                        $('.ajaxPages').html(data);
                    }
                });
            });
        }  
        
        $(document).ready(function(){
            var width = $(window).width();
            if (width < 600) {
                $('.online-chat').hide();
            }
            
            {% if senhaExpirada %}
                $('#modalSenha').modal();
            {% endif %}
                
            $('.folder_link').on('click', function(ev){
                ev.preventDefault();
                $.ajax({
                    url: $(this).attr('href'),
                    type: 'GET',
                    success: function (data){
                        $('.ajaxPages').html(data);
                        bindClickFolder();
                    }
                });
            });
        });
        
        var LHCChatOptions = {};
            LHCChatOptions.opt = {widget_height:340,widget_width:300,popup_height:520,popup_width:500};
            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            var referrer = (document.referrer) ? encodeURIComponent(document.referrer.substr(document.referrer.indexOf('://')+1)) : '';
            var location  = (document.location) ? encodeURIComponent(window.location.href.substring(window.location.protocol.length)) : '';
            po.src = '//chat.educacao.itajai.sc.gov.br/index.php/por/chat/getstatus/(position)/bottom_right/(ma)/br/(top)/350/(units)/pixels/(leaveamessage)/true/(theme)/1?r='+referrer+'&l='+location;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        
    /*    
        var LHCFAQOptions = {status_text:'FAQ',url:'replace_me_with_dynamic_url',identifier:''};
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = '//chat.educacao.itajai.sc.gov.br/index.php/por/faq/getstatus/(position)/bottom_left/(top)/450/(units)/pixels/(theme)/1';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        */
    </script>
    {% if error %}
        <script type="text/javascript" >    
            $.bootstrapGrowl("{{error.message}}", { type: 'danger', delay: 5000 }); 
        </script> 
    {% endif %}
{% endblock %}