{% extends '::paginaExterna.html.twig' %}

{% block css %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{asset('lib/bootstrap/less/bootstrap.less')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/intranet/css/signin.css')}}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{asset('bundles/intranet/images/login_header_lg.gif')}}" class="img-responsive centralizar hidden-xs" alt="Logo Intranet" />
                <img src="{{asset('bundles/intranet/images/login_header_sm.gif')}}" class="img-responsive centralizar visible-xs" alt="Logo Intranet" />
            </div>
        </div>

        <div class="row">
            <div class="span12">             
                <form id="form_new_password" action="{{ path('intranet_save_new_password', {'token': token.id}) }}" method="post" class="form-signin" role="form">
                    <div class="form-group">
                        <label for="username">Nova senha</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Nova Senha" autofocus />
                    </div>
                    <div class="form-group">
                        <label for="password">Repita a nova senha</label>
                        <input type="password" id="repeat_password" name="repeat_password" class="form-control" placeholder="Repita a Senha" />
                    </div>
                    <div class="form-group">
                        
                        <button id="btnSendNewPassword" class="btn btn-lg btn-primary btn-block" type="submit">Mudar Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
            
{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('lib/bootstrap/assets/js/less.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap-growl.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/bootstrap/dist/js/bootstrap-alert.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/validatePassword.js')}}"></script>
    <script type="text/javascript">
    	{% for message in app.session.flashbag.get('message') %}
            $.bootstrapGrowl("{{message}}", { type: 'info', delay: 3000 });
        {% endfor %}
    </script>
{% endblock %}

