{% extends 'SuporteTecnicoBundle:Index:index.html.twig' %}

{% block headerTitle %}Suporte Técnico > Chamados > Nº {{chamado.id}}{% endblock %}

{% block page %}

<div id="informacoes" class="panel panel-default">
    <div class="panel-heading">
        <strong>Informações</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <strong>Categoria:</strong> {{chamado.categoria.nomeHierarquico}} 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <strong>Solicitante:</strong> {{chamado.pessoaCadastrou.nome}}
            </div>
            <div class="col-lg-4">
                <strong>Data de Criação:</strong> {{chamado.dataCadastro|date('d/m/Y H:i')}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <strong>Local:</strong> {{chamado.local.nome}}
            </div>
            {% if chamado.encerrado %}
                <div class="col-lg-4">
                    <strong>Data de Encerramento:</strong> {{chamado.dataEncerramento|date('d/m/Y H:i')}}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-8">
                <strong>Prioridade:</strong> {{chamado.prioridade.nome}}
            </div>
            <div class="col-lg-4">
                <strong>Status:</strong> {{chamado.status.nome}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <strong>Descrição:</strong> 
                <p>{{chamado.descricao|trim}}</p>
            </div>
        </div>
        {% if chamado.encerrado %}
            <div class="row">
                <div class="col-lg-12">
                    <strong>Solução:</strong> 
                    <p>{{chamado.solucao|trim}}</p>
                </div>
            </div>
        {% endif %}
        <div class="col-lg-12">
            <a href="{{path('suporte_chamado_imprimir', {'chamado': chamado.id})}}" target="_blank" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-print"></span> Imprimir
            </a>
        </div>
    </div>
</div>

{% include 'SuporteTecnicoBundle:Atividade:atividades.html.twig' with {'chamado': chamado} %}

{% include 'SuporteTecnicoBundle:Anotacao:anotacoes.html.twig' with {'chamado': chamado} %}

{% endblock %}
