{% extends 'SuporteTecnicoBundle:Index:index.html.twig' %}

{% block page %}
    <div style="margin-top: 0.8em;">
        <em>{{chamados|length}} chamado(s) nesta página</em>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Cod.</th>
                <th class="text-center">Categoria</th>
                <th class="text-center">Local</th>
                <th class="text-center">Criação</th>
                <th class="text-center">Status</th>
                <th class="text-center">Prioridade</th>
            </tr>
        </thead>
        <tbody>
            {% for chamado in chamados %}
                <tr {% if chamado.prioridade.id == 5 %}class="danger text-danger"{% endif %} >
                    <td class="text-center">
                        <a class="{% if chamado.prioridade.id == 5 %}text-danger{% endif %}" href="{{path('suporte_chamado_gerenciar', {'chamado': chamado.id})}}">
                            {{chamado.id}}
                        </a>
                    </td>
                    <td>
                        {% if chamado.categoria.categoriaPai %} {{chamado.categoria.categoriaPai.nome}} <br />{% endif %}
                        {{chamado.categoria.nome}}
                    </td>
                    <td title="Aberto por {{chamado.pessoaCadastrou.nome}}">{{chamado.local.nome}}</td>
                    <td class="text-center">{{chamado.dataCadastro|date('d/m/Y')}}</td>
                    <td class="text-center">
                        <span {% if chamado.status.terminal %}class="text-danger"{% endif %}>{{chamado.status.nome}}</span>
                    </td>
                    <td class="text-center">
                        {% if chamado.prioridade.id == 4 %}
                            <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{chamado.prioridade.nome}}"></span>
                        {% elseif chamado.prioridade.id == 3 %}
                            <span class="glyphicon glyphicon-flag text-warning" title="{{chamado.prioridade.nome}}"></span>
                        {% elseif chamado.prioridade.id == 2 %}
                            <span class="glyphicon glyphicon-flag text-info" title="{{chamado.prioridade.nome}}"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-flag text-success" title="{{chamado.prioridade.nome}}"></span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr> 
                    <td colspan="6" class="text-center">Nenhum chamado encontrado</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}