{% extends 'SuporteTecnicoBundle:Index:index.html.twig' %}

{% block headerTitle %}Suporte Técnico > Chamados > Pesquisa{% endblock %}

{% block page %}

{{form_start(form, {'attr': {'id': 'formPesquisa'} })}}
    <div class="row">
        <div class="col-lg-6">
            {{form_label(form.equipe)}}
            {{form_widget(form.equipe, {'attr': {'class': 'form-control'} })}}
        </div>
        <div class="col-lg-6">
            {{form_label(form.local)}}
            {{form_widget(form.local, {'attr': {'class': 'form-control'} })}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            {{form_label(form.categoria)}}
            {{form_widget(form.categoria, {'attr': {'class': 'form-control'} })}}
        </div>
        <div class="col-lg-3">
            {{form_label(form.numero)}}
            {{form_widget(form.numero, {'attr': {'class': 'form-control'} })}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label for="">Cadastrado entre:</label>
            {{form_widget(form.periodoCadastroInicio, {'attr': {'class': 'form-control datepickerSME'} })}}
        </div>
        <div class="col-lg-3">
            <label>Até:</label>
            {{form_widget(form.periodoCadastroFim, {'attr': {'class': 'form-control datepickerSME'} })}}
        </div>
        <div class="col-lg-3">
            {{form_label(form.status)}}
            {{form_widget(form.status, {'attr': {'class': 'form-control'} })}}
        </div>
        <div class="col-lg-3">
            {{form_label(form.bairro)}}
            {{form_widget(form.bairro, {'attr': {'class': 'form-control'} })}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            {{form_label(form.ordenacao)}}
            {{form_widget(form.ordenacao, {'attr': {'class': 'form-control'} })}}
        </div>
        <div class="col-lg-3">
            {{form_label(form.aberto)}}
            {{form_widget(form.aberto, {'attr': {'class': 'form-control'} })}}
        </div>
        <div class="col-lg-3">
            <button id="btnListar" title="Lista" type="submit" class="btn btn-primary" style="margin-top: 1.8em;">
                <span class="glyphicon glyphicon-list"></span>
            </button>
            <button id="btnMapa" title="Mapa" type="submit" class="btn btn-primary" style="margin-top: 1.8em;">
                <span class="glyphicon glyphicon-map-marker"></span>
            </button>
            <button id="btnImprimir" title="Impressão" type="submit" formtarget="_blank"  formaction="{{form.vars.action}}?view=pdf" class="btn btn-primary" style="margin-top: 1.8em;">
                <span class="glyphicon glyphicon-print"></span>
            </button>
        </div>
    </div>
{{form_end(form)}}

<div id="chamados"></div>

<div id="divPaginas" style="display: none; padding-top: 0.5em;">
    <em>Página <span id="numeroPagina">1</span></em>
    <a class="btn-link" id="lnkAnterior">Anterior</a> | <a class="btn-link" id="lnkProximo">Próxima</a>
</div>

<div id="modalDialog" class="modal fade" role="dialog">
    <div id="divModal" class="modal-dialog" style="width: 85%;"></div>
</div>

{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDGYOmrW5zjuyneSG5b5D5Bvmwi5GmJfTA&sensor=false"></script>
    <script type="text/javascript">
        if(typeof(Storage)!=="undefined") {
            $("#{{form.equipe.vars.id}}").val(sessionStorage.getItem("{{form.equipe.vars.id}}"));
            $("#{{form.categoria.vars.id}}").val(sessionStorage.getItem("{{form.categoria.vars.id}}"));
            $("#{{form.status.vars.id}}").val(sessionStorage.getItem("{{form.status.vars.id}}"));
            $("#{{form.aberto.vars.id}}").val(sessionStorage.getItem("{{form.aberto.vars.id}}"));
        }
        
        $("#btnListar").click(function(event) {
            event.preventDefault();
            carregarChamados(event);
            $("#divPaginas").show();
        });
        
        $("#btnMapa").click(function(event) {
            event.preventDefault();
            carregarChamados(event, true);
            $("#divPaginas").hide();
        });
        
        $("#lnkProximo").click(function() {
            $("#{{form.pagina.vars.id}}").val((parseInt($("#{{form.pagina.vars.id}}").val()) + 1).toString() );
            $("#numeroPagina").html(parseInt($("#{{form.pagina.vars.id}}").val()) + 1);
            carregarChamados();
        });

        $("#lnkAnterior").click(function() {
            if($("#{{form.pagina.vars.id}}").val() > 0) {
                $("#{{form.pagina.vars.id}}").val((parseInt($("#{{form.pagina.vars.id}}").val()) - 1).toString() );
                $("#numeroPagina").html(parseInt($("#{{form.pagina.vars.id}}").val()) + 1);
                carregarChamados();
            }
        });

        function carregarChamados(event, mapa) {
            var url = mapa ? "{{form.vars.action}}?view=mapa" : "{{form.vars.action}}";
            $.ajax({
                 type: "POST",
                 url: url,
                 data: $("#formPesquisa").serialize(),
                 success: function(retorno) {
                     $("#chamados").html(retorno);
                 }
             });
             sessionStorage.setItem("{{form.equipe.vars.id}}", $("#{{form.equipe.vars.id}}").val());
             sessionStorage.setItem("{{form.categoria.vars.id}}", $("#{{form.categoria.vars.id}}").val());
             sessionStorage.setItem("{{form.status.vars.id}}", $("#{{form.status.vars.id}}").val());
             sessionStorage.setItem("{{form.aberto.vars.id}}", $("#{{form.aberto.vars.id}}").val());
        }
                
        /**
                    (function poll() {
                        setTimeout(function() {
                            if($("#{{form.categoria.vars.id}}").val() > 0) {
                                $.ajax({
                                    global: false,
                                    type: "POST",
                                    url: "{{form.vars.action}}",
                                    data: $("#formPesquisa").serialize(),
                                    success: function(retorno) {
                                        $("#chamados").html(retorno);
                                    }
                                });
                            }
                            poll();
                        }, 15000);
                    })();
                */
    </script>
{% endblock %}