{% extends 'SuporteTecnicoBundle:Index:index.html.twig' %}

{% block headerTitle %}Suporte Técnico > Chamados > Nº {{chamado.id}}{% endblock %}

{% block page %}

<div style="margin-bottom: 10px;">
    <div class="row" id="formErrors">
        {{ erros | raw }}
    </div>
    {{form_start(form, {'action': path('suporte_chamado_gerenciar', {'chamado': chamado.id}) })}}
        <div class="row">
            <div class="col-lg-6">
                <label for="local">Local:</label>
                <input id="local" disabled class="form-control" value="{{chamado.local.nome}}" />
            </div>
            <div class="col-lg-6">
                <label for="pessoaCadastrou">Solicitante:</label>
                <input id="pessoaCadastrou" disabled class="form-control" value="{{chamado.pessoaCadastrou.nome}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="endereco">Endereço:</label>
                <input id="endereco" disabled class="form-control" value="{{chamado.endereco}}" />
            </div>
            <div class="col-lg-6">
                <label for="telefones">Telefones:</label>
                <input id="telefones" disabled class="form-control" value="{{chamado.telefones}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{form_label(form.categoria)}}
                {{form_widget(form.categoria, {'attr': {'class': 'form-control'} })}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label for="dataCadastro">Data de Cadastro:</label>
                <input id="pessoaCadastrou" disabled class="form-control" value="{{chamado.dataCadastro|date('d/m/Y H:i')}}" />
            </div>
            <div class="col-lg-4">
                {{form_label(form.prioridade)}}
                {{form_widget(form.prioridade, {'attr': {'class': 'form-control'} })}}
            </div>
            <div class="col-lg-4">
                {{form_label(form.status)}}
                {{form_widget(form.status, {'attr': {'class': 'form-control'} })}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{form_label(form.descricao)}}
                {{form_widget(form.descricao, {'attr': {'class': 'form-control', 'rows': 5} })}}
            </div>
        </div>
        <div class="row">
            <div id="divTags" class="col-lg-12">
                {{form_label(form.tags)}}
                {{form_widget(form.tags)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{form_label(form.solucao)}}
                {{form_widget(form.solucao, {'attr': {'class': 'form-control', 'rows': 5} })}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="{{path('suporte_chamado_imprimir', {'chamado': chamado.id})}}" target="_blank" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </a>
            </div>
            <div class="col-lg-6">
                {{form_widget(form.btnSalvar, {'attr': {'class': 'btn btn-primary btn-block'} })}}
            </div>
        </div>
    {{form_end(form)}}
</div>

{% include 'SuporteTecnicoBundle:Atividade:atividades.html.twig' with {'chamado': chamado} %}

{% include 'SuporteTecnicoBundle:Anotacao:anotacoes.html.twig' with {'chamado': chamado} %}

{% block css %}
    {{parent()}}
    <style type="text/css">
        #divTags input {
            margin-left: 1em;
            margin-right: 0.2em;
        }
    </style>
{% endblock %}

{% endblock %}
