{% extends 'DGPContratacaoBundle:Index:index.html.twig' %}

{% block headerTitle %}DGP > Processo Admissional > {{processo.nome}} > Inscrições{% endblock %}

{% block body %}
    {{form_start(form, {'attr': {'id': 'formPesquisa'} })}}
        <div class="row">
            <div class="col-lg-3">
                {{form_label(form.cargo)}}
                {{form_widget(form.cargo, {'attr': {'class': 'form-control'} })}}
            </div>
            <div class="col-lg-3">
                {{form_label(form.classificacao)}}
                {{form_widget(form.classificacao, {'attr': {'class': 'form-control'} })}}
            </div>
            <div class="col-lg-3">
                {{form_label(form.candidato)}}
                {{form_widget(form.candidato, {'attr': {'class': 'form-control'} })}}
            </div>
            <div class="col-lg-3">
                <br />
                <button id="btnPesquisar" class="btn btn-primary" type="button">Buscar</button>
            </div>
        </div>
    {{form_end(form)}}
    <div id="divInscricoes"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnPesquisar").click( function() {
            $.ajax({
                type: "POST",
                url: "{{form.vars.action}}",
                data: $("#formPesquisa").serialize(),
                success: function(retorno){
                    $("#divInscricoes").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}