{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > CI Geral > {{ci.numero}}/{{ci.ano}}{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li><a href="{{path('dgp_ciGeral_formPesquisa')}}">Pesquisa</a></li>
        <li><a href="{{path('dgp_ciGeral_formCadastro')}}">Cadastro</a></li>
        <li class="active"><a href="#">Alteração</a></li>
    </ul>
    <br />
    <form method="post">
        <div class="btn-group">
            <a class="ajaxLink btn btn-primary" href="{{url('dgp_ciGeral_formPesquisaVinculo', {'ci': ci.id})}}">Adicionar</a>
            <button id="btnExcluir" class="btn btn-primary" formaction="{{path('dgp_ciGeral_excluirVinculos', {'ci': ci.id})}}" type="submit">Remover</button>
            <button id="btnAtualizar" class="btn btn-primary" formaction="{{path('dgp_ciGeral_atualizar', {'ci': ci.id})}}" type="submit">Atualizar</button>
            <a target="__blank" class="btn btn-primary" href="{{path('dgp_ciGeral_imprimir', {'ci': ci.id})}}">Imprimir</a>
        </div>
        <div class='row' style='margin-bottom: 1.1em;'>
            <div class="col-lg-4">
                <label for="numero">Número:</label>
                <input id="numero" name="numero" type="text" value="{{ci.numero}}" class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="ano">Ano:</label>
                <input id="ano" name="ano" type="text" value="{{ci.ano}}" class="form-control" />
            </div>
            <div class="col-lg-4">
                <label for="prorrogacao">CI de Prorrogação:</label>
                <select id="prorrogacao" name="prorrogacao" class="form-control">
                    <option value="0">Não / Não se aplica</option>
                    <option value="1" {% if ci.prorrogacao %}selected{% endif %} >Sim</option>
                </select>
            </div>
        </div>
        {% if ci.processo.tipoProcesso.id == constant('SME\\DGPContratacaoBundle\\Entity\\TipoProcesso::CONCURSO_PUBLICO') %}   
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Portaria</th>
                        <th class="text-center">Data da Nomeação</th>
                        <th class="text-center">Carga Horária</th>
                        <th class="text-center">Cargo</th>
                        <th class="text-center">Data da Posse</th>
                    </tr>
                </thead>
                <tbody style="max-height: 100px;">
                    {% for vinculo in ci.vinculos %}
                        <tr>
                            <td>
                                <input name="selecionados[]" value="{{vinculo.id}}" type="checkbox" />
                            </td>
                            <td>
                                <a href="{{path('dgp_vinculo_formAlteracaoRapida', {'vinculo': vinculo.id})}}" class="ajaxLink">{{vinculo.servidor.nome}}</a>
                                <input name="vinculos[]" type="hidden" value="{{vinculo.id}}" />
                            </td>
                            <td>
                                <input name="portaria[]" type="text" class="form-control" value="{{vinculo.portaria}}" />
                            </td>
                            <td class="text-center">
                                <input name="dataNomeacao[]" type="text" class="form-control datepickerSME" value="{{vinculo.dataNomeacao|date('d/m/Y')}}" />
                            </td>
                            <td class="text-center">{{vinculo.cargaHoraria}}</td>
                            <td>{{vinculo.cargo.nome}}</td>
                            <td class="text-center">
                                <input name="dataPosse[]" type="text" class="form-control datepickerSME" value="{{vinculo.dataPosse|date('d/m/Y')}}" />
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Cargo</th>
                        <th class="text-center">Justificativa</th>
                    </tr>
                </thead>
                <tbody style="max-height: 100px;">
                    {% for vinculo in ci.vinculos %}
                        <tr>
                            <td>
                                <input name="selecionados[]" value="{{vinculo.id}}" type="checkbox" />
                            </td>
                            <td>
                                <a href="{{path('dgp_vinculo_formAlteracaoRapida', {'vinculo': vinculo.id})}}" class="ajaxLink">{{vinculo.servidor.nome}}</a>
                                <input name="vinculos[]" type="hidden" value="{{vinculo.id}}" />
                            </td>
                            <td>{{vinculo.cargo.nome}}</td>
                            <td class="text-center">
                                <textarea name="observacao[]" class="form-control">{{vinculo.observacao|trim}}</textarea>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
    
    <div id="modalDialog" class="modal fade" role="dialog">
        <div id="divModal" class="modal-dialog" style="width: 80%;"></div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(".ajaxLink").click(function(ev) {
            $.ajax({
                type: "GET",
                url: $(this).attr("href"),
                success: function(retorno) {
                    $("#divModal").html(retorno);
                }
            });
            $('#modalDialog').modal("show");
            ev.preventDefault();
        });
    </script>
{% endblock %}
