{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > CI Geral > Cadastro{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li><a href="{{path('dgp_ciGeral_formPesquisa')}}">Pesquisa</a></li>
        <li class="active"><a href="#">Cadastro</a></li>
    </ul>
    <form id="formCadastroCI" action="{{path('dgp_ciGeral_cadastrar')}}" method="post">
        <div class="row">
            <div class="col-lg-6">
                <label for="numero">Número: </label>
                <input id="numero" name="numero" type="text" class="form-control"/>
            </div>
            <div class="col-lg-6">
                <label for="ano">Ano: </label>
                <input id="ano" name="ano" value="{{"now"|date('Y')}}" type="text" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="processo">Processo: </label>
                <select id="processo" name="processo" class="form-control" required>
                    <option></option>
                    {% for processo in processos %}
                        <option value="{{processo.id}}">{{processo.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6">
                <label for="prorrogacao">CI de Prorrogação: </label>
                <select id="prorrogacao" name="prorrogacao" class="form-control" required>
                    <option value="0">Não / Não se aplica</option>
                    <option value='1'>Sim</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnCadastrar" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </form>
{% endblock %}

