{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block body %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Número</th>
                <th>Ano</th>
                <th>Processo</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody style="max-height: 100px;">
            {% for ci in cis %}
                <tr>
                    <td>{{ci.numero}}</td>
                    <td>{{ci.ano}}</td>
                    <td>{{ci.processo.nome}}</td>
                    <td>
                        <a href="{{path('dgp_ciGeral_formAlteracao', {'ci': ci.id})}}">Alterar</a>
                        {% if ci.vinculos.empty %}
                            | <a class="ajaxAction text-danger" href="{{path('dgp_ciGeral_excluir', {'ci': ci.id})}}">Excluir</a>
                        {% endif %}
                        | <a target="_blank" href="{{path('dgp_ciGeral_imprimir', {'ci': ci.id})}}">Imprimir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(".ajaxAction").click(function(ev) {
            $.ajax({
                type: "POST",
                url: $(this).attr("href"),
                data: $("#formPesquisaCI").serialize(),
                success: function(retorno) {
                    $("#divCIs").html(retorno);
                }
            });
            ev.preventDefault();
        });
    </script>
{% endblock %}
