{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Servidor > Formação Continuada{% endblock %}

{% block page %}
    <div class="panel panel-default">
        <div class="panel-heading">Inscrições Abertas</div>
        <div class="panel-body">
             {% if formacoes is empty %}
                Não há formações com inscrições em aberto no momento
            {% else %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Formação</th>
                            <th class="text-center">Carga Horária</th>
                            <th class="text-center">Inscrições</th>
                            <th class="text-center">Vagas</th>
                            <th class="text-center">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formacao in formacoes %}
                            <tr>
                                <td>{{ formacao.nome }}</td>
                                <td class="text-center">{{ formacao.cargaHoraria }}</td>
                                <td class="text-center">{{ formacao.dataInicioInscricao|date('d/m/Y') }} a {{ formacao.dataTerminoInscricao|date('d/m/Y') }}</td>
                                <td class="text-center">
                                    {% if formacao.limiteVagas > 0 %} {{formacao.vagasDisponiveis}} {% else %}Sem limite{% endif %}    
                                </td>
                                <td class="text-center">
                                    <a class="detalhesFormacao" href="{{ path('dgp_publico_getFormacao', { id: formacao.id }) }}">Informações</a> |
                                    <a href="{{ path('dgp_formacao_adicionarMatricula', {'formacao': formacao.id, 'pessoa': app.user.pessoa.id}) }}">Inscrever-se</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">Minhas Formações</div>
        <div class="panel-body">
            {% if formacoesPessoa is empty %}
                Você não está participando nem concluiu uma formação
            {% else %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Matrícula</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Carga Horária</th>
                            <th class="text-center">Período</th>
                            <th class="text-center">Status</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for matricula in formacoesPessoa %}
                            <tr>
                                <td class="text-center">{{ matricula.id }}</td>
                                <td><a class="detalhesFormacao" href="{{ path('dgp_publico_getFormacao', { id: matricula.formacao.id }) }}">{{ matricula.formacao.nome }}</a></td>
                                <td class="text-center">{{ matricula.formacao.cargaHoraria }}</td>
                                <td class="text-center">{{ matricula.formacao.dataInicioFormacao|date('d/m/Y') }} a {{ matricula.formacao.dataTerminoFormacao|date('d/m/Y') }}</td>
                                <td class="text-center">{{matricula.aprovado ? 'Concluído' : 'Inscrito'}}</td>
                                <td>
                                    {% if matricula.aprovado %}
                                        <a target="_blank" href="{{path('dgp_servidor_imprimirCertificado', {'matricula': matricula.id})}}">Certificado</a>
                                    {% else %}
                                        <a href="{{path('dgp_formacao_cancelarMatricula', {'formacao': matricula.formacao.id,'matricula': matricula.id})}}">Cancelar</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
   
    <div id="modalDialog" class="modal fade" role="dialog">
        <div id="divModal" class="modal-dialog" style="width: 80%;"></div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('lib/bootstrap/assets/js/less.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/jquery/jquery.mousewheel-3.0.6.pack.js')}}"></script>
    <script type="text/javascript" src="{{asset('lib/fancybox/jquery.fancybox.js')}}"></script>
    <script type="text/javascript">          
        $('document').ready(function (){
            $(".detalhesFormacao").click(function(ev){
                ev.preventDefault();

                $.ajax({
                    type: "GET",
                    url: $(this).attr("href"),
                    success: function(retorno) {
                        $("#divModal").html(retorno);
                    }
                });
                $('#modalDialog').modal("show");
            });
        });
    </script>
{% endblock %}