{% extends '::paginaExterna.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block body %}
    <div class="row vagas" style="margin: 1rem;">
        
        <div class="col-md-12">
            <button style="display:none;" class="btn btn-primary vagasBtn">Consulta de vagas de estágio</button> <button class="btn btn-primary estagioBtn">Consulta de inscrição</button>
        </div>
        
        <div class="col-md-12 vagasBox">
            <h1>Vagas de Estágio</h1>
            
            <div class="col-md-12">
                <small>Serão concedidos espaço nas Unidades de Ensino da Rede Municipal de Ensino para a realização de estágios obrigatórios supervisionados das instituições de ensino profissionalizante e ensino superior, devidamente credenciadas pelo Ministério da Educação - MEC, que firmarem com o Município de Itajaí, por intermédio da Secretaria Municipal de Educação.</small>
            </div>
            
            <div class="col-md-6">
                <label>Unidade:</label>
                <select id="unidade_vagas" name="unidade_vagas" class="form-control">
                    <option></option>
                    {% for entidade in entidades %}
                        <option value="{{ entidade.pessoaJuridica.id }}">{{ entidade.pessoaJuridica.nome }}</option>
                    {% endfor %}
                </select>
            </div>
                
            <div class="col-md-6">
                <label>Turno:</label>
                <select id="turno_vagas" name="turno_vagas" class="form-control">
                    <option></option>
                    {% for turno in turnos %}
                        <option value="{{ turno.id }}">{{ turno.nome }}</option>
                    {% endfor %}
                </select>
            </div>
                
            <div class="vagas_box"></div>
        </div>
                
        <div style="display:none;" class="col-md-12 consultaBox">
            <h1>Consulta de Estágio</h1>

            <div class="col-md-12">
                <small>Digite seu nome para verificar o status da inscrição à vaga de estágio.</small>
            </div>

            <div class="col-md-6">
                <label>Nome:</label>
                <input type="text" class="form-control" name="nome" id="nome" />
            </div>
            <div class="col-md-6">
                <button style="margin-top: 2.4rem;" class="buscaNomeEstagio btn btn-primary">Buscar</button>
            </div>

            <div class="vagas_box"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".vagasBtn").click(function (){
                $(".estagioBtn").show();
                $('.consultaBox').hide();
                $('.vagasBox').show();
                $(this).hide();
                $('.vagas_box').html('');
            });
            
            $('.estagioBtn').click(function (){
                $(".vagasBtn").show();
                $('.consultaBox').show();
                $('.vagasBox').hide();
                $(this).hide();
                $('.vagas_box').html('');
            });
            
            $("#unidade_vagas, #turno_vagas").change(function(){
                var unidade = $("#unidade_vagas").val();
                var turno = $("#turno_vagas").val();
                if (unidade !== '' || turno !== '') {
                    $.ajax({
                        url: '{{ path('public_vaga_estagio') }}',
                        dataType: 'html',
                        type: 'POST',
                        data: { 'unidade_vagas': unidade, 'turno_vagas': turno },
                        success: function (data) {
                            $('.vagas_box').html(data);
                        }
                    });
                }
            });
            
            $(".buscaNomeEstagio").click(function(){
                var nome = $("#nome").val();
                if (nome !== '') {
                    $.ajax({
                        url: '{{ path('public_consulta_estagio') }}',
                        dataType: 'html',
                        type: 'POST',
                        data: { 'nome': nome },
                        success: function (data) {
                            $('.vagas_box').html(data);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
