{% extends '::paginaExterna.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block body %}
    <div class="row orientadores" style="margin: 1rem;">
        <div class="col-md-12">
            <h1>Orientadores de Estágio</h1>
            <small>Seu cadastro será avaliado e aprovado antes de gerar um usuário.</small>
            
            <div class="row" id="formErrors">
                {{ erros | raw }}
            </div>
            
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6"><strong>Nome do orientador:*</strong>{{ form_widget(form.nome) }}</div>
                    <div class="col-md-6"><strong>CPF(apenas números):*</strong>{{ form_widget(form.cpf) }}</div>
                    <div class="col-md-6"><strong>Data de Nascimento:*</strong>{{ form_widget(form.dataNascimento) }}</div>
                    <div class="col-md-6"><strong>E-mail:*</strong>{{ form_widget(form.email) }}</div>
                    <div class="col-md-6"><strong>E-mail(Supervisor Geral):*</strong>{{ form_widget(form.emailSupervisor) }}</div>
                    <div class="col-md-6"><strong>Instituição*</strong>{{ form_widget(form.instituicao) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><strong>Curso*</strong>{{ form_widget(form.curso) }}</div>
                    <div class="col-md-12">{{ form_row(form.Salvar) }}</div>
                </div>
            {{ form_end(form) }}
            
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('lib/jquery/jquery.maskedinput.min.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#PedidoUsuarioForm_dataNascimento").mask("99/99/9999");
        });
    </script>
{% endblock %}
