{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Unidade Escolar > Lista {% endblock %}

{% block page %}
    <div id="divListaUnidades">
        <table class="table table-hover table-striped tableFu">
            <thead>
                <tr>
                    <th class="codColumn">Cód.</th>
                    <th>Unidade</th>
                    <th>Zoneamento</th>
                    <th class="optionsColumn">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for unidade in unidades %}
                    <tr>
                        <td class="codColumn">{{unidade.id}}</td>
                        <td> {{unidade.entidade.pessoaJuridica.nome}}</td>
                        <td>{{unidade.zoneamento.nome}} - {{unidade.zoneamento.descricao}}</td>
                        <td class="optionsColumn">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="ajaxLink" href="{{url('fu_unidade_escolar_formAlteracao', {'unidade': unidade.id})}}">Alterar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="4"> <em>Não existem unidades cadastradas</em> </td>
                    </tr>
                {% endfor %}
             </tbody>
        </table>
    </div>

    <div id="modalDialog" class="modal fade" role="dialog">
        <div id="divModal" class="modal-dialog" style="width: 75%;"></div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(".ajaxLink").click(function(ev) {
            $.ajax({
                type: "GET",
                url: $(this).attr("href"),
                success: function(retorno) {
                    $("#divModal").html(retorno);
                }
            });
            $('#modalDialog').modal("show");
            ev.preventDefault();
        });
    </script>
{% endblock %}