{% extends '::templateModal.html.twig' %}

{% block modalTitle %} Fila Única > Unidade Escolar > {{unidade.entidade.pessoaJuridica.nome}} {% endblock %}

{% block modalBody %}
    <form id="formAlteracaoUnidade" action="{{url('fu_unidade_escolar_alterar', {'unidade': unidade.id})}}" method="post">
        <div class="row">
            <div class="col-lg-6">
                <label for="zoneamento">Zoneamento:</label>
                <select id="zoneamento" name="zoneamento" class="form-control">
                    {% for zoneamento in zoneamentos %}
                        <option value="{{zoneamento.id}}" {% if zoneamento.id == unidade.zoneamento.id %}selected{% endif %} >
                            {{zoneamento.nome}} - {{zoneamento.descricao}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-6">
                <button id="btnSalvar" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnSalvar").click( function() {
            $.ajax({
                type: "POST",
                url: $("#formAlteracaoUnidade").attr("action"),
                data: $("#formAlteracaoUnidade").serialize(),
                success: function(retorno){
                    $("#page").html(retorno);  
                }
            });
            $('#modalDialog').modal("hide");
        });
    </script>
{% endblock %}
