<pdf>
    {% for d in diarios %}
        {% embed 'reports/templates/page.twig' %}
            {% block pageType %}A4{% endblock %}
            
           {% block title %}
                <h1>Diário de Notas</h1>
                <h3> {{media}}º {{unidadeRegime}} </h3>
            {% endblock %}
            
            {% block headerHeight %}70px{% endblock %}
            
            {% block info %}
            {% embed 'reports/templates/info.twig' %}{% endembed %}
            {% endblock %}
            {% block content %}
                <div margin="0" padding="0" font-size="8px">
                    <table>
                        <tr>
                            <td border.type="none"></td>
                            <td border.type="none"></td>
                            <td border.style="dotted" colspan="{{d.habilidades|length}}"><h4><strong>Habilidades</strong></h4></td>
                        </tr>
                        <tr>
                            <td width="25px">
                                <h4><strong>Nº</strong></h4>
                            </td>
                            <td  width="350px">
                                <h4><strong>Aluno</strong></h4>
                            </td>
                                {% for avaliacao in d.avaliacoes %}
                                    <td width="35px" padding-left="5px"></td>
                                {% else %}
                                    {% for i, habilidade in d.habilidades %}
                                        <td padding-left="5px">{{i + 1}}</td>
                                    {% endfor %}
                                {% endfor %}
                        </tr>
                        {% for i, enturmacao in enturmacoes %}
                            <tr>
                                <td>{{i + 1}}</td>
                                <td text-align="left">
                                    {{enturmacao.matricula.aluno.nome|upper}}
                                </td>
                                {% for habilidade in d.habilidades %}
                                    <td></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        
                        
                    </table>
                </div>
                <div width="30%" position="absolute" float="left" margin-top="20px">
                    <p><strong>Conceitos:</strong></p>
                    {% for conceito in conceitos %}
                        <p padding-left="5px">{{conceito.sigla}} - {{conceito.nome}}</p>
                    {% endfor %}
                </div>
                <div width="68%" position="absolute" float="right" margin-top="20px">
                    <p><strong>Habiliades:</strong></p>
                    {% for i, habilidade in d.habilidades %}
                        <p padding-left="5px">{{i + 1}} - {{habilidade.nome}}</p>
                    {% endfor %}
                </div>
                <column-layout number-of-columns="3" equals-columns="true" margin-top="50px" font-size="10px">
                    <div breakable="false">
                        <p text-align="center" margin="0" padding="0">___________________________________</p>
                        <p text-align="center" padding-top="0" margin-top="0">Professor</p>
                    </div>
                    <column-break />
                    <div breakable="false">
                        <p text-align="center" margin="0" padding="0">___________________________________</p>
                        <p text-align="center" padding-top="0" margin-top="0">Supervisor Escolar</p>
                    </div>
                    <column-break />
                    <div breakable="false">
                        <p text-align="center" margin="0" padding="0">___________________________________</p>
                        <p text-align="center" padding-top="0" margin-top="0">Secretário Escolar</p>
                    </div>
                    <column-break />
                </column-layout>
            {% endblock %}
        {% endembed %}
    {% endfor %}
</pdf>


