{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Servidor > Meus Cargos > Cod. {{vinculo.id}}{% endblock %}

{% block page %}
    <div>
        <p>
            <strong>Servidor:</strong> {{vinculo.servidor.nome}} 
        </p>
        <p>
            <strong>Cargo de Origem:</strong> {{vinculo.cargoOrigem.nome}} 
        </p>
        <p>
            <strong>Cargo Atual:</strong> {{vinculo.cargo.nome}} 
        </p>
        <p>
            <strong>Categoria:</strong> {{vinculo.tipoVinculo.nome}} 
        </p>
        <p>
            <strong>Carga Horária:</strong> {{vinculo.cargaHoraria}} 
        </p>
        <p>
            <strong>Data de Nomeação / Início de Contrato:</strong> {{vinculo.dataInicio|date('d/m/Y')}}
        </p>
        {% if vinculo.tipoVinculo.id == constant('SME\\DGPBundle\\Entity\\TipoVinculo::ACT') %}
            <p>
                <strong>Término de Contrato:</strong> {{vinculo.dataTermino|date('d/m/Y')}}
            </p>
        {% else %}
            <p>
                <strong>Data de Posse:</strong> {{vinculo.dataPosse|date('d/m/Y')}}
            </p>
        {% endif%}
        {% if vinculo.inscricaoVinculacao %}
            <p>
                <strong>Processo de Admissão:</strong> {{vinculo.inscricaoVinculacao.processo.nome}}
            </p>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Alocações</div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Local</th>
                    <th>Carga horária</th>
                    <th>Turno</th>
                    <th>Função</th>
                </tr>
                {% for alocacao in vinculo.alocacoes %}
                    <tr>
                        <td>{{alocacao.localTrabalho.nome}}</td>
                        <td>{{alocacao.cargaHoraria}}</td>
                        <td>{{alocacao.periodo ? alocacao.periodo.nome : 'Não informado'}}</td>
                        <td>{{alocacao.funcaoAtual}}</td>
                    </tr>
                {% else %}
                    <tr> <td class="text-center" colspan="4">Você não está alocado em nenhuma unidade</td> </tr>
                {% endfor %}
            </table>
            <p>
                <em>* Caso seus locais de trabalho estejam incorretos, entre em contato com o gestor de sua unidade.</em>
            </p>
        </div>
    </div>
{% endblock %}

