{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > CI Geral > {{ci.numero}}/{{ci.ano}}{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li><a href="{{path('dgp_promocao_ciGeral_formPesquisa')}}">Pesquisa</a></li>
        <li><a href="{{path('dgp_promocao_ciGeral_cadastrar')}}">Cadastro</a></li>
        <li class="active"><a href="#">Alteração</a></li>
    </ul>
    <div id="tabContent" class="container">
        <div class="row" id="formErrors">
            {{ erros | raw }}
        </div>
        {{form_start(form)}}
            <div class="btn-group">
                {{form_widget(form.btnSalvar, { 'attr': {'class': 'btn btn-primary'} })}}
                <a class="ajaxLink btn btn-primary" href="{{path('dgp_promocao_ciGeral_formPesquisaPromocoes', {'ci': ci.id})}}">Adicionar</a>
                <a target="_blank" class="btn btn-primary" href="{{path('dgp_promocao_ciGeral_imprimir', {'ci': ci.id})}}">Imprimir</a>
            </div>
            <div class='row' style='margin-bottom: 1.1em;'>
                <div class="col-lg-4">
                    {{ form_label(form.tipoPromocao) }}
                    {{ form_widget(form.tipoPromocao, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-lg-4">
                    {{ form_label(form.ano) }}
                    {{ form_widget(form.ano, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-lg-4">
                    {{ form_label(form.numero) }}
                    {{ form_widget(form.numero, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Servidor</th>
                        <th class="text-center">Matrícula</th>
                        <th class="text-center">Cargo</th>
                        <th class="text-center">De</th>
                        <th class="text-center">Para</th>
                        <th class="text-center">Opções</th>
                    </tr>
                </thead>
                <tbody style="max-height: 100px;">
                    {% for promocao in ci.promocoes %}
                        <tr>
                            <td>{{promocao.vinculo.servidor.nome}}</td>
                            <td class="text-center">{{promocao.vinculo.matricula}}</td>
                            <td class="text-center">{{promocao.vinculo.cargo.nome}}</td>
                            <td class="text-center">{{promocao.nivelAnterior}}</td>
                            <td class="text-center">{{promocao.nivelAtual}}</td>
                            <td class="text-center">
                                {% if ci.tipoPromocao == constant('SME\\DGPPromocaoBundle\\Entity\\Promocao::TIPO_PROMOCAO_HORIZONTAL') %}
                                    <a target="_blank" href="{{path('dgp_promocaoHorizontal_alterar', 
                                        {'vinculo': promocao.vinculo.id, 'promocao': promocao.id})}}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                {% else %}
                                    <a target="_blank" href="{{path('dgp_promocaoVertical_alterar', 
                                        {'vinculo': promocao.vinculo.id, 'promocao': promocao.id})}}">
                                        <span title="Alterar" class="glyphicon glyphicon-edit"></span>
                                    </a>
                                {% endif %}
                                | <a href="{{path('dgp_promocao_ciGeral_removerPromocao', {'ci': ci.id, 'promocao': promocao.id})}}">
                                    <span title="Remover" class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-center" colspan="6"><em>Nenhuma promoção adicionada</em></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {{form_end(form)}}
    </div>
    
    <div id="modalDialog" class="modal fade" role="dialog">
        <div id="divModal" class="modal-dialog" style="width: 80%;"></div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(".ajaxLink").click(function(ev) {
            $.ajax({
                type: "GET",
                url: $(this).attr("href"),
                success: function(retorno) {
                    $("#divModal").html(retorno);
                }
            });
            $('#modalDialog').modal("show");
            ev.preventDefault();
        });
    </script>
{% endblock %}
