{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > Promoção > CI Geral{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{path('dgp_promocao_ciGeral_formPesquisa')}}">Pesquisa</a></li>
        <li><a href="{{path('dgp_promocao_ciGeral_cadastrar')}}">Cadastro</a></li>
    </ul>
    <form id="formPesquisaCI">
        <div class="row">
            <div class="col-lg-4">
                <label for="tipoPromocao">Tipo de Promoção: </label>
                <select id="tipoPromocao" name="tipoPromocao" class="form-control">
                    <option value="{{constant('SME\\DGPPromocaoBundle\\Entity\\Promocao::TIPO_PROMOCAO_HORIZONTAL')}}">Horizontal</option>
                    <option value="{{constant('SME\\DGPPromocaoBundle\\Entity\\Promocao::TIPO_PROMOCAO_VERTICAL')}}">Vertical</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label for="ano">Ano: </label>
                <input id="ano" name="ano" type="text" class="form-control"/>
            </div>
            <div class="col-lg-4">
                <label for="numero">Número: </label>
                <input id="numero" name="numero" type="text" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnPesquisar" type="button" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
    <div id="divCIs"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnPesquisar").click( function() {
            $.ajax({
                type: "POST",
                url: "{{path('dgp_promocao_ciGeral_pesquisar')}}",
                data: $("#formPesquisaCI").serialize(),
                success: function(retorno){
                    $("#divCIs").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}
