{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block body %}
    <div style="padding-top: 1em;">
        <form action="{{path('dgp_promocao_ciGeral_adicionarPromocoes', {'ci': ci.id})}}" method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Servidor</th>
                        <th>Matrícula</th>
                        <th>Cargo</th>
                        <th>A Contar De</th>
                    </tr>
                </thead>
                <tbody style="max-height: 100px;">
                    {% for promocao in promocoes %}
                        <tr>
                            <td>
                                <input name="promocoes[]" value="{{promocao.id}}" type="checkbox" checked />
                            </td>
                            <td>{{promocao.vinculo.servidor.nome}}</td>
                            <td>{{promocao.vinculo.matricula}}</td>
                            <td>{{promocao.vinculo.cargo.nome}}</td>
                            <td>{{promocao.dataInicio|date('d/m/Y')}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">
                                <em>Nenhuma promoção deferida encontrada</em>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </p>
        </form>
    </div>
{% endblock %}
