{% if ajax == false %}
    <div class="container paddingTop certifyResults">  
{% endif %}
    <div class="row">
       <div class="col-lg-6" style="text-align: justify;">
            Digite no campo ao lado seu CPF ou número de matrícula de seu curso, para imprimir os certificados de cursos em que foi aprovado.
       </div>
       <div class="col-lg-6" style="text-align: justify;">
            <form id="searchForm" class="form-signin" action="{{ path('formacao_externa_consulta') }}">
                <div class="form-group">
                    {{ form_widget(form._token) }}
                    {{ form_row(form.CPFMatricula, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block searchCertify" type="submit">Buscar</button>
                </div>
            </form>
       </div>
        <div class="col-lg-12" style="text-align: justify; float: left;">                          
            {% if matriculas is empty %}
                <p class="text-center text-error">{{ errorFormacoes }}</p>
            {% else %}
                <div id="resultsCertify" style=" float: left; width: 100%;">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <tr>
                                <th>Matrícula</th>
                                <th>Nome</th>
                                <th>Formação</th>
                                <th>Status</th>
                                <th>Certificado</th>
                            </tr>
                        </thead>
                        <tbody class="ajax-itens">
                            {% for matricula in matriculas %}
                                <tr>
                                    <td>{{matricula.id}}</td>
                                    <td>{{matricula.pessoa.nome}}</td>
                                    <td>{{matricula.formacao.nomeCertificado}}</td>
                                    {% if matricula.aprovado %}
                                        <td>Aprovado</td>
                                        <td class="text-center">
                                            <a target="_blank" href="{{ path('formacao_externa_imprimir_certificado', { 'matricula': matricula.id }) }}">
                                                Verificar / Imprimir
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>Reprovado</td>
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% if ajax == false %}
    </div>    
{% endif %}