{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > Formações{% endblock %}

{% block body %}
    <div style="margin-top: 0.8em;">
        <em>{{formacoes|length}} formações encontradas</em>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Carga Horária</th>
                <th>Data de Início</th>
                <th>Data de Término</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for formacao in formacoes %}
                <tr>
                    <td>{{ formacao.nome }}</td>
                    <td>{{ formacao.cargaHoraria }}</td>
                    <td>{{ formacao.dataInicioFormacao|date('d/m/Y') }}</td>
                    <td>{{ formacao.dataTerminoFormacao|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{path('dgp_formacao_atualizar', {formacao: formacao.id})}}">
                            <img title="Alterar" style="cursor: pointer; width: 16px;" src="{{asset('lib/images/edit.png')}}" />
                        </a>
                        <a class="excluiFormacao" href="{{path('dgp_formacao_excluir', {formacao: formacao.id})}}">
                            <img title="Excluir" style="cursor: pointer; width: 16px;" src="{{asset('lib/images/delete.png')}}" />
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center"> <em>Nenhuma formação encontrada nestes termos</em> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $('document').ready(function (){
            $(".excluiFormacao").click( function(ev) {                
                if(!confirm("Realmente deseja excluir esta formação?")) {
                    ev.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
