{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > Formações > Nova Formação{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="row" id="formErrors">
                {{ errors | raw }}
            </div>
            {{ form_start(form, { 'attr': { 'id': 'criarFormacao' }}) }}
            <div class="row">
                <div class="col-lg-12">
                    {{ form_label(form.nome) }}
                    {{ form_widget(form.nome, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_label(form.nomeCertificado) }}
                    {{ form_widget(form.nomeCertificado, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form_label(form.publicoAlvo) }}
                    {{ form_widget(form.publicoAlvo, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-lg-6">
                    {{ form_label(form.aberto) }}
                    {{ form_widget(form.aberto, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form_label(form.cargaHoraria) }}
                    {{ form_widget(form.cargaHoraria, {'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-lg-6">
                    {{ form_label(form.limiteVagas) }}
                    {{ form_widget(form.limiteVagas, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form_label(form.dataInicioInscricao) }}
                    {{ form_widget(form.dataInicioInscricao, {'attr': {'class': 'form-control datetimepickerSME'} }) }}
                </div>
                <div class="col-lg-6">
                    {{ form_label(form.dataTerminoInscricao) }}
                    {{ form_widget(form.dataTerminoInscricao, {'attr': {'class': 'form-control datetimepickerSME'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form_label(form.dataInicioFormacao) }}
                    {{ form_widget(form.dataInicioFormacao, {'attr': {'class': 'form-control datepickerSME'} }) }}
                </div>
                <div class="col-lg-6">
                    {{ form_label(form.dataTerminoFormacao) }}
                    {{ form_widget(form.dataTerminoFormacao, {'attr': {'class': 'form-control datepickerSME'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_label(form.descricao) }}
                    {{ form_widget(form.descricao, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_widget(form.btnSalvar, {'attr': {'class': 'btn btn-primary'} }) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4">
            {% block opcoes %}
                <a class="btn btn-primary" href="{{path('dgp_formacao_cadastrar')}}">
                    <span class="glyphicon glyphicon-plus"></span> Nova Formação
                </a>
                <hr />
                <a class="btn btn-danger" href="{{path('dgp_formacao_listar')}}">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar Cadastro
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{asset('lib/jquery/editor/font/css/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('lib/jquery/editor/summernote.css')}}" />
    <script type="text/javascript" src="{{asset('lib/jquery/editor/summernote.min.js')}}"></script>
    
    <script type="text/javascript">
        $('document').ready(function (){
            $('#FormacaoType_descricao').summernote({ height: 200 });
        });
    </script>
{% endblock %}