<pdf>
    {% for disciplina, alunos in folhas %}
        {% embed 'reports/templates/page.twig' %}
            {% block pageType %}A4{% endblock %}

            {% block title %}
                <h1>Espelho de Notas {{"now"|date('Y')}}</h1>
            {% endblock %}

            {% block headerHeight %}70px{% endblock %}

            {% block info %}
                <p>
                    <strong>Disciplina: {{disciplina}}</strong>
                </p>
                <p>
                    Turma: {{turma.nomeExibicao}}
                </p>
                <p>
                    Curso: {{turma.etapa.curso.nome}}
                </p>
            {% endblock %}
                  
            {% block content %}    
                <table font-size="10px" border-type="none">
                    <tr>
                        <td width="20px">
                            <strong>Nº</strong>
                        </td>
                        <td>
                            <strong>Aluno</strong>
                        </td>
                        {% for q in 1..quantidadeMedias %}
                            <td width="40px">
                                <strong>{{q}}º {{unidadeRegime|slice(0, 3)}}</strong>
                            </td>
                            <td width="25px">
                                <strong>F</strong>
                            </td>
                        {% endfor %}
                        <td width="42px">
                             <strong>Exame</strong>
                         </td>
                        <td width="40px">
                            <strong>Soma Notas</strong>
                        </td>
                        <td width="40px">
                            <strong>Média Final</strong>
                        </td>
                        <td width="40px">
                            <strong>Total Faltas</strong>
                        </td>
                        <td width="25px">
                            <strong>Sit</strong>
                        </td>
                    </tr>
                    {% set faltasTurma = 0 %}
                    {% for i, aluno in alunos %}
                        {% set faltasAluno = aluno.disciplinaCursada.totalFaltas %}
                        {% set faltasTurma = faltasTurma + faltasAluno %}
                        <tr line-height="15px">
                            <td>{{i + 1}}</td>
                            <td text-align="left">
                                {{aluno.nomeAluno}}
                            </td>
                            
                            {% for m in aluno.medias %}
                                {% if 'EXAME' not in m.nome%}
                                    <td>{{m.valor ? (m.valor|number_format(2)|last == 0 ? m.valor|number_format(1) : m.valor|number_format(2))}}</td>
                                    <td>{{m.faltas}}</td>
                                {% endif %}
                            {% endfor %}
                            {% for a, m in aluno.medias %}
                                {% if aluno.medias|length > quantidadeMedias and 'EXAME' in m.nome%}
                                    <td>{{m.valor ? (m.valor|number_format(2)|last == 0 ? m.valor|number_format(1) : m.valor|number_format(2))}}</td>
                                {% elseif a == quantidadeMedias-1 and aluno.medias|length == quantidadeMedias %}
                                    <td>-</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{aluno.disciplinaCursada.somaNotas}}</td>
                            <td>{{aluno.mediaFinal ? aluno.mediaFinal : '-'}}</td>
                            <td>{{faltasAluno}}</td>
                            <td>{{turma.encerrado ? aluno.disciplinaCursada.status|slice(0, 1) : aluno.disciplinaCursada.statusPrevisto|slice(0, 1)}}</td>
                        </tr>
                    {% endfor %}
                    <tr line-height="15px">
                        <td colspan="{{5 + quantidadeMedias * 2}}"></td>
                        <td>
                            <strong>{{faltasTurma}}</strong>
                        </td>
                        <td></td>
                    </tr>
                </table>
            {% endblock %}
        {% endembed %}
    {% endfor %}
</pdf>


