<pdf>
        {% embed 'reports/templates/page.twig' %}
            {% block pageType %}A4{% endblock %}
            
           {% block title %}
                <h1>Espelho de Notas {{nomeRegime}}</h1>
                <h3>{{media}}º {{unidadeRegime}} - {{"now"|date('Y')}}</h3>
            {% endblock %}
            
            {% block headerHeight %}70px{% endblock %}
            
             {% block info %}
                <p padding="0">
                    Turma: {{turma.nomeExibicao}}
                </p>
                <p padding="0">
                    Curso: {{turma.etapa.curso.nome}}
                </p>
                {% if turma.etapa.frequenciaUnificada %}
                    <p padding="0">
                        Professor: {{professor}}
                    </p>
                {% endif %}
            {% endblock %}
            
            {% block content %}
                <div margin="0" padding="0" font-size="8px">
                    <table>
                        <tr>
                            <td colspan="3" alpha="0"></td>
                            {% for disciplina in disciplinas %}
                                <td colspan="2"><strong>{{disciplina.sigla}}</strong></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td width="17px">
                                <strong>Nº</strong>
                            </td>
                            <td width="57px">
                                <strong>Código</strong>
                            </td>
                            <td>
                                <strong>Aluno</strong>
                            </td>
                            {% for disciplina in disciplinas %}
                                <td width="26px" padding-left="5px"><strong>N</strong></td>
                                <td width="18px" padding-left="5px"><strong>F</strong></td>
                            {% endfor %}
                        </tr>
                        {% set totalNotas = [] %}
                        {% set totalFaltas = [] %}
                        {% for i, e in enturmacoes %}
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{e.matricula.codigo}}</td>
                                <td text-align="left">{{e.matricula.nomeAluno|upper}}</td>
                                {% for m in e.medias %}
                                    <td>{{m.valor ? (m.valor|number_format(2)|last == 0 ? m.valor|number_format(1) : m.valor|number_format(2))}}</td>
                                    <td>{{m.valor ? m.faltas}}</td>
                                {% endfor %}    
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" text-align="right"><strong>Médias</strong></td>
                            {% for m in mediasTurma %}
                                <td>{{m.valor ? (m.valor|number_format(2)|last == 0 ? m.valor|number_format(1) : m.valor|number_format(2))}}</td>
                                <td>{{m.valor ? m.faltas|number_format(0)}}</td>
                            {% endfor %}    
                        </tr>
                    </table>
                </div>
            {% endblock %}
        {% endembed %}
</pdf>


