<pdf>
    {% embed 'reports/templates/pageAtestados.twig' %}
        {% block pageType %}a4{% endblock %}

        {% block title %}
            <h1 margin="0" padding="0">ATESTADO DE MATRÍCULA E FREQUÊNCIA</h1>
        {% endblock %}

        {% block headerHeight %}70px{% endblock %}

        {% block content %}
            <div font-size="14px" line-height="20px">
                <p text-align="justify"  margin-top="300px">
                    Atesto para os devidos fins, a pedido da parte interessada, 
                    que o aluno {{matricula.aluno.nome}}, está regularmente
                    matriculado, sob o número {{matricula.codigo}}, na {{matricula.unidadeEnsino.nomeCompleto}} 
                    e frequenta o curso {{matricula.curso.nome}} - {{matricula.etapaAtual.nomeExibicao}}.
                </p>
                <p text-align="right" margin-top="100px">
                    Situação: <strong>{{matricula.status|upper}}</strong>
                </p>
                <p text-align="right" margin-top="100px">
                    Itajaí(SC), {{"now"|dataPorExtenso}}
                </p>
                <p text-align="center" margin-top="100px">
                     ___________________________________<br/>
                    {{ app.user ? app.user.nomeExibicao : '' }}<br/>
                    Secretário Escolar
                </p>
            </div>

        {% endblock %}
    {% endembed %}
</pdf>

