<pdf>
    {% embed 'reports/templates/page.twig' %}
        {% block title %}
            <h1>Histórico Escolar</h1>
            <h3>{{instituicao.instituicaoPai.nomeCompleto}}</h3>
        {% endblock %}
        
        {% block info %}{% endblock %}  
        
        {% block content %}
            {% set filiacao = aluno.nomePai ? aluno.nomeMae|upper ~ ' e ' ~ aluno.nomePai|upper : aluno.nomeMae|upper %}
            <div text-align="justify" margin-top="20px" padding="5px" font-size="12px" breakable="false">
                {{aluno.nome|upper}}, natural de {{aluno.endereco.cidade.nome|upper}}, 
                estado de {{aluno.endereco.cidade.estado.nome|upper}}, de nacionalidade {{aluno.nacionalidade}},
                do sexo {{aluno.genero == 'M' ? 'MASCULINO' : 'FEMININO'}}, matrícula {{matricula.codigo}},
                nascido(a) em {{aluno.dataNascimento|dataPorExtenso}}, filho(a) de {{filiacao}},
                concluiu os anos / séries do curso de {{matricula.curso.nome|upper}} nos termos da lei vigente:
            </div>
            <div margin-top="20px" font-size="10px" breakable="false">
                <table>
                    <tr>
                        <td><strong>Disciplina</strong></td>
                        {% for etapa in matricula.curso.etapas %}
                            <td><strong>{{etapa.nome}}</strong></td>
                        {% endfor %}
                    </tr>
                    {% for disciplina, notas in dados.notas %}
                        <tr>
                            <td text-align="left" width="200px">{{disciplina}}</td>
                            {% for etapa in matricula.curso.etapas %}
                                <td>
                                {% if etapa.ordem in notas|keys  %}
                                    {%  set nota = notas[etapa.ordem] %}
                                    {{nota|number_format(2)|last == 0 ? nota|number_format(1) : nota|number_format(2)}}
                                {% else %}
                                    -
                                {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr background.color="grey">
                        <td text-align="left"><strong>Frequência</strong></td>
                        {% for etapa in matricula.curso.etapas %}
                            <td><strong>{{dados.frequencias[etapa.ordem]}}%</strong></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div margin-top="20px" font-size="10px" breakable="false">
                <table>
                    <tr>
                        <td><strong>Ano Escolar</strong></td>
                        <td><strong>Ano</strong></td>
                        <td><strong>Resultado</strong></td>
                        <td width="250px"><strong>Unidade de Ensino</strong></td>
                        <td  width="150px"><strong>Município</strong></td>
                        <td><strong>UF</strong></td>
                    </tr>
                    {% for etapa in dados.etapasCursadas %}
                        <tr>
                            <td>{{etapa.etapa.nome}}</td>
                            <td>{{etapa.ano}}</td>
                            <td>{{etapa.status}}</td>
                            <td>{{etapa.unidadeEnsino}}</td>
                            <td>{{etapa.cidade.nome}}</td>
                            <td>{{etapa.cidade.estado.sigla}}</td>
                        </tr>
                    {% endfor %}
                    {% for enturmacao in matricula.enturmacoesEmAndamento %}
                        <tr>
                            <td>{{enturmacao.turma.etapa.nome}}</td>
                            <td>{{"now"|date('Y')}}</td>
                            <td>Cursando</td>
                            <td>{{enturmacao.turma.unidadeEnsino.nomeCompleto}}</td>
                            <td>{{enturmacao.turma.unidadeEnsino.endereco.cidade.nome}}</td>
                            <td>{{enturmacao.turma.unidadeEnsino.endereco.cidade.estado.sigla}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div margin-top="20px" padding="5px" border-size="1px" font-size="10px" breakable="false">
                <strong>OBSERVAÇÕES:</strong>
                {% for obs in matricula.observacoesHistorico %}
                    <p>{{obs.texto}}</p>
                {%  endfor %}
            </div>
            <p text-align="right" margin-top="30px" font-size="12px">
                {{instituicao.endereco.cidade.nome}} ({{instituicao.endereco.cidade.estado.sigla}}), {{"now"|dataPorExtenso}}
            </p>
            <div text-align="center" margin-top="60px" width="50%" position="absolute" float="left" font-size="12px" >
                ___________________________________<br/>
                Secretário(a) Escolar
            </div>
            <div text-align="center" margin-top="60px" width="50%" position="absolute" float="right" font-size="12px" >
                ___________________________________<br/>
                Diretor(a)
            </div>
       {% endblock %}
    {% endembed %}
</pdf>

