<!DOCTYPE html>
<html lang="pt-br">    

{% block body %}
	<div style="background: #6699cc; width: 100%; float: left; box-shadow: 0px 5px 10px #000;">
		<img src="http://educacao.itajai.sc.gov.br/images/stories/logoo.png" style="width: 30%;" />
	</div>
	<div id="content" style="float: left; margin-top: 10px;">
		<p>
                    <strong>Uma inscrição de estágio foi realizada.</strong>
                    <br />
                    Segue abaixo os dados do candidato:
                    <br /><br />
                    Nome: {{ name }}
                    <br />
                    Email: {{ email }}
                    <br />
                    Telefone: {{ telefone }}
                    {% if inicioObs != '0000-00-00' %}
                    <br />
                    Início do Estágio(Observação): {{ inicioObs | date("d/m/Y") }}
                    {% endif %}
                    {% if fimObs != '0000-00-00' %}
                    <br />
                    Final do Estágio(Observação): {{ fimObs | date("d/m/Y") }}
                    {% endif %}
                    {% if inicio != '0000-00-00' %}
                    <br />
                    Início do Estágio(Intervenção): {{ inicio | date("d/m/Y") }}
                    {% endif %}
                    {% if fim != '0000-00-00' %}
                    <br />
                    Final do Estágio(Intervenção): {{ fim | date("d/m/Y") }}
                    {% endif %}
                    <br />
                    Turno: {{ turno }}
                    <br />
                    Unidade: {{ unidade }}
                    <br />
                    Vaga: {{ vaga }}
                    <br /><br />
                    Para ver todos os inscritos nesta vaga, <a href="http://intranet.educacao.itajai.sc.gov.br/{{ path('listar_inscritos', { 'id': vaga_id }) }}">clique aqui</a>.
                    <br /><br />
                    Atenciosamente.
                    <br />
                    Secretaria Municipal de Educação.
		</p>
	</div>
{% endblock %}
    
</html>    