{% extends app.request.isXmlHttpRequest ? '::templateAjax.html.twig' : '::template.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block headerTitle %}Controle de Presença{% endblock %}

{% block body %}
    <div class="row" id="formErrors">
        {{ erros | raw }}
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="col md-12">
            <div class="col-md-6">
                <label for="PresencaForm_dataCadastro">Unidade de Ensino:*</label>
                {{ form_widget(form.entidade) }}
            </div>
            <div class="col-md-6">
                <label for="PresencaForm_turma">Turma:*</label>
                {{ form_widget(form.turma) }}
            </div>
            <div class="col-md-6">
                <label for="PresencaForm_periodo">Período:*</label>
                {{ form_widget(form.turno) }}
            </div>
            <div class="col-md-6">
                <label for="PresencaForm_mes">Mês:*</label>
                {{ form_widget(form.mes) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.Buscar) }}
            </div>            
        </div>
        {{ form_end(form) }}
    </div>
    {% if presencas != null %}
        <hr />

        <h3>Presenças cadastradas no mês.</h3>

        <table class="table table-striped table-hover tableDGP">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Turma</th>
                    <th>Turno</th>
                    <th>Quantidade de Alunos</th>
                </tr>
            </thead>
            <tbody>
                {% for presenca in presencas %}
                    <tr>
                        <td>{{ presenca.dataCadastro | date('d/m/Y') }}</td>
                        <td>{{ presenca.turma }}</td>
                        <td>{{ presenca.turno }}</td>
                        <td>{{ presenca.qtdeAlunos }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Nenhuma presença encontrada até o momento.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <strong>Total de presenças: {{ totalPresencas }}</strong>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <strong>Nenhuma presença pesquisada ou encontrada.</strong>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $('document').ready(function (){
            /*$('#BuscaPresencaForm_turma').change(function(){
                var val = $('#BuscaPresencaForm_turma option:selected').val();
                console.log(val);
                if (((val.match(/Berçario/g) || []).length > 0) || ((val.match(/Maternal/g) || []).length > 0)) {
                    $('#BuscaPresencaForm_turno option').each(function (index){
                        $(this).show(); if (index === 0 || index === 1 || index === 2) { $(this).hide(); }
                    });
                }
                
                if ((val.match(/Jardim/g) || []).length > 0) {
                    $('#BuscaPresencaForm_turno option').each(function (){ $(this).show(); });
                }
                
                if ((val.match(/Pré/g) || []).length > 0) {
                    $('#BuscaPresencaForm_turno option').each(function (index){ 
                        $(this).show(); if (index === 3) { $(this).hide(); }
                    });
                }
            });*/
        });
    </script>
{% endblock %}
