{% extends app.request.isXmlHttpRequest ? '::templateAjax.html.twig' : '::template.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block headerTitle %}<a href="{{ path('perguntas_index', {'id': pergunta.categoriaId}) }}"><button class="btn btn-danger">Voltar</button></a> Editar Pergunta{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-12"><label for="PerguntaForm_pergunta">Pergunta: *</label></div>
                    <div class="col-lg-12">
                        {{ form_widget(form.pergunta) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_widget(form.tem_resposta) }} Possui resposta diferenciada?(Além de sim e não.)
                        {{ form_widget(form.respostas) }}
                    </div>
                    <div style="display:none;" class="col-lg-8 multi-select">
                        {{ form_widget(form.multi_resposta) }} Possui mais de uma resposta selecionável?
                    </div>
                </div>
                    
                <div style="display: none; margin-top: 2rem;" class="row incluir-respostas">
                    <div class="col-lg-12"><label for="resposta">Respostas: </label></div>
                    <div class="col-lg-10"><input type="text" placeholder="Digite sua resposta" class="form-control resposta" name="resposta" /></div>
                    <div class="col-lg-2"><button class="btn btn-info btnSalvarResposta">Inserir Resposta</button></div>
                    <hr />
                    
                    <div class="respostasCadastradas">
                        <ul></ul>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.Salvar) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $('document').ready(function (){
            {% if respostas is empty %}
                var arrayRespostas = [];
            {% else %}
                var arrayRespostas = JSON.parse('{{ respostas | raw }}');
                for (var i=0; i<arrayRespostas.length; i++) {
                    $('.respostasCadastradas ul').append('<li>' + arrayRespostas[i] + ' <span style="color: red; cursor: pointer;" class="glyphicon glyphicon-remove-circle remove-resposta" aria-hidden="true"></span> </li>');
                }
            {% endif %}
           
            if ($('#PerguntaForm_tem_resposta:checked').length > 0) {
                $('.multi-select, .incluir-respostas').show();
            } else {
                $('.multi-select, .incluir-respostas').hide();
            }
          
           $('#PerguntaForm_tem_resposta').click(function(){
               if ($('#PerguntaForm_tem_resposta:checked').length > 0) {
                   $('.multi-select, .incluir-respostas').show();
               } else {
                   $('.multi-select, .incluir-respostas').hide();
               }
           });
           
           $('.btnSalvarResposta').click(function (ev) {
               ev.preventDefault();
               var resposta = $('.resposta').delay(100).val();
               arrayRespostas.push(resposta);
               var arraySize = (arrayRespostas.length)-1;
               var stringRespostas = JSON.stringify(arrayRespostas);
               $('#PerguntaForm_respostas').val(stringRespostas);
               $('.respostasCadastradas ul').append('<li>' + resposta + ' <span style="color: red; cursor: pointer;" class="glyphicon glyphicon-remove-circle remove-resposta" aria-hidden="true"></span> </li>');
               $('.resposta').val('');
           });
           
           $(document).on('click', '.remove-resposta', function(){
               var parent = $(this).parent();
               var index = parent.index();
               arrayRespostas.splice(index,1);
               var stringRespostas = JSON.stringify(arrayRespostas);
               $('#PerguntaForm_respostas').val(stringRespostas);
               parent.remove();
           });
        });
    </script>
{% endblock %}
