{% extends app.request.isXmlHttpRequest ? '::templateAjax.html.twig' : '::template.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block headerTitle %}Questionários{% endblock %}

{% block body %}
        <div class="row">
            {% if msgRetorno != null %}
                <div class="col-md-12">
                    <div class="alert alert-info" style="padding: 7px; font-size: 12px; width: 95%; margin-left: 2.5%; margin-bottom: 1%; margin-top: 2%;">
                        {{ msgRetorno }}
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <table class="table table-striped table-hover tableDGP">
                    <thead>
                        <tr>
                            <th>Nome</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for questionario in questionarios %}
                            <tr>
                                <td><a href="{{ path('questionarios_responder', { 'id': questionario.id }) }}">{{ questionario.nome }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Nenhum questionario disponível até o momento.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                        
        <div class="row">
            <div class="col-md-12">
                <h3>Questionários Respondidos ou Iniciados</h3>
                <table class="table table-striped table-hover tableDGP">
                    <thead>
                        <tr>
                            <th>Nome</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for respondido in respondidos %}
                            <tr>
                                <td><a href="{{ path('questionarios_responder', { 'id': respondido.id }) }}">{{ respondido.nome }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Nenhum questionario respondido até o momento.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>         
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $('document').ready(function (){
           
        });
    </script>
{% endblock %}
