{% extends app.request.isXmlHttpRequest ? '::templateAjax.html.twig' : '::template.html.twig' %}

{% block css %}
    {{parent()}}
{% endblock %}

{% block headerTitle %}<a href="{{ path('questionarios_ver_respostas') }}"><button style="margin-top: -5px;" class="btn btn-danger">Voltar</button></a> Resposta do Questionário{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-12">
                <h3>Respondido por: {{ pessoa.nome }}</h3>
                <h3>{{ questionario.nome }}</h3>
                <hr />
            </div>

            {% for pergunta in perguntas %}
                <div class="col-md-12">
                    <h4 style='padding-bottom: 20px;' class='categoryBox'>{{ pergunta.categoriaId.nome }}</h4>
                    {% if pergunta.perguntaId.temResposta == false %}
                        <input id='pergunta{{ pergunta.perguntaId.id }}' type='checkbox' name='respostaQuestionario[]' value='{{ pergunta.perguntaId.id }}' class='respostaQuestionario' /> <strong>{{ pergunta.perguntaId.pergunta }}</strong>
                    {% endif %}
                    <hr />
                </div>
            {% endfor %}
        </div>         
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $('document').ready(function (){
           var lastH3 = '';
           var respostas = {{ respostas | raw }};
           
           for (var i=0; i<respostas.length; i++) {
               if (respostas[i].resposta === "1") {
                   $('#pergunta' + respostas[i].perguntaId).prop('checked', true);
               }
           }
           
           $('.respostaQuestionario').delay(100).attr('disabled','disabled');
           
           $('.categoryBox').each(function(){
               var html = $(this).html();
               if (html === lastH3) {
                   $(this).remove();
               } else {
                   lastH3 = html;
               }
           });
        });
    </script>
{% endblock %}
