{% for categoria in categorias %}    
    <div class="subcategorycontainer">
        <div class="subarrowlist arrow-{{ categoria.id }} nivel{{nivel}}" data-id="{{ categoria.id }}" style="color: blue; cursor: pointer; padding: 10px; color: black; width: 5%; float: left;">
            {% if categoria.subcategorias|length %}
                <span style="color: #9b59b6;" class="glyphicon glyphicon-chevron-down cat-sign-{{ categoria.id }}" aria-hidden="true"></span>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div class="subcategoryitem nivel{{nivel}} tree_item" data-link="{{ path('suporte_categoria_atualizar', { categoria: categoria.id }) }}" data-id="{{ categoria.id }}" style="cursor: pointer; padding: 10px; width: 80%; float: left;">
            {% if categoria.prioridade.id == 4 %}
                <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{categoria.prioridade.nome}}"></span>
            {% elseif categoria.prioridade.id == 3 %}
                <span class="glyphicon glyphicon-flag text-warning" title="{{categoria.prioridade.nome}}"></span>
            {% elseif categoria.prioridade.id == 2 %}
                <span class="glyphicon glyphicon-flag text-info" title="{{categoria.prioridade.nome}}"></span>
            {% else %}
                <span class="glyphicon glyphicon-flag text-success" title="{{categoria.prioridade.nome}}"></span>
            {% endif %}
            {{categoria.nome}} 
        </div>
        <div class="subcategoryoptions nivel{{nivel}}" style="float: left; width: 15% ; cursor: pointer; padding: 10px;">
            <a class="edit_category" href="{{ path('suporte_categoria_editar', {'categoria':categoria.id})}}" style="cursor: pointer;">
                        <span title="Editar Sub-Categoria" style="margin-right: 3px;" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a> |
            <a class="add_category" href="{{ path('suporte_categoria_cadastrar') }}?categoria=categoria{{ categoria.id }}">
                <span title="Adicionar Sub-Cataegoria" style="margin-right: 3px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a> |
            <a class="lnkTags" href="{{ path('suporte_categoria_tag_cadastrar', { categoria: categoria.id }) }}">
                <span title="Tags" class="glyphicon glyphicon-tags"></span>
            </a> |
            <a class="remove_category" data-id="{{ categoria.id }}" href="{{ path('suporte_categoria_excluir', { categoria: categoria.id }) }}">
                <span title="Remover" class="glyphicon glyphicon-remove cat-remove-{{ categoria.id }} cat-remove" aria-hidden="true"></span>
            </a>
        </div>
        {% if categoria.subcategorias|length %}
            <div class="subcategorycontainer cat-{{ categoria.id }}" style="width: 100%; display: none">
                {% include "SuporteTecnicoBundle:Categoria:arvoreCategorias.html.twig" with {'categorias': categoria.subcategorias, 'nivel': nivel+1} %}  
            </div>
        {% endif %}
    </div>
{% endfor %}


