{% extends 'SuporteTecnicoBundle:Index:index.html.twig' %}

{% block body %}
    {{ form_start(form, { 'attr': { 'id': 'cadastrarCategoria' } }) }}
        <div class="row">
            <div class="col-lg-6">
                {{form_label(form.nome)}}
                {{form_widget(form.nome)}}
            </div>
            <div class="col-lg-6">
                {{form_label(form.prioridade)}}
                {{form_widget(form.prioridade)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{form_widget(form.equipe)}}
                {{form_widget(form.categoriaPai)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{form_widget(form.btnSalvar, {'attr': {'class': 'btn btn-primary'} })}}
                <button class="btn btn-danger cancel">Cancelar</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function (){
            $("#cadastroCategoria_btnSalvar, #cadastroSubCategoria_btnSalvar").click(function (ev){
                ev.preventDefault();
                $.ajax({
                    url: '{{ path('suporte_categoria_cadastrar') }}',
                    type: 'POST',
                    data: $("#cadastrarCategoria").serialize(),
                    success: function (data) {
                            $("#ajaxCategories").html(data);
                        }
                });
            });

            $('.cancel').click(function (ev){
                ev.preventDefault();
                $(".new_category").html('');
                $(".innerCategory").html('');
            });
        });
    </script>
{% endblock %}
