{% extends '::templateModal.html.twig' %}

{% block modalTitle %}Editar Categoria{% endblock %}

{% block modalBody %}
    {{ form_start(form, { 'attr': { 'id': 'editarCategoria' } }) }}
        <div class="row">
            <div class="col-lg-6">
                {{form_label(form.nome)}}
                {{form_widget(form.nome)}}
            </div>
            <div class="col-lg-6">
                {{form_label(form.prioridade)}}
                {{form_widget(form.prioridade)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{form_widget(form.btnSalvar, {'attr': {'class': 'btn btn-primary'} })}}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function (){
            $("#editarCategoria_btnSalvar, #editarSubCategoria_btnSalvar").click(function (ev){
                ev.preventDefault();
                $.ajax({
                    url: '{{ path('suporte_categoria_editar', {'categoria': categoria.id}) }}',
                    type: 'POST',
                    data: $("#editarCategoria").serialize(),
                    success: function (data) {
                        if (data === 'success') {
                            window.location='{{ path("suporte_categoria_pesquisar") }}';
                        }
                    }
                });
            });

            $('.cancel').click(function (ev){
                ev.preventDefault();
                //$(".new_category").html('');
                //$(".innerCategory").html('');
            });
        });
    </script>
{% endblock %}
