{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block body %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">Inscrição</th>
                <th class="text-center">Unidade Escolar</th>
                <th class="text-center">Ano Escolar</th>
                <th class="text-center">Data</th>
                <th class="text-center">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for movimentacao in movimentacoes %}
                <tr>
                    <td>{{movimentacao.inscricao.protocolo}} - {{movimentacao.inscricao.crianca.nome}}</td>
                    <td>{{movimentacao.unidadeEscolarAlterada.nome}}</td>
                    <td>{{movimentacao.anoEscolarAlterado.nome}}</td>
                    <td title="Cadastrado por {{movimentacao.atendente.nome}}">
                        {{movimentacao.dataCadastro|date('d/m/Y')}}
                    </td>
                    <td>
                        <a class="ajaxLink" href="{{path('fu_movimentacaoInterna_visualizar', {'movimentacao': movimentacao.id})}}">Detalhes</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="modalDialog" class="modal fade" role="dialog">
        <div id="divModal" class="modal-dialog" style="width: 75%;"></div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $(".ajaxLink").click(function(ev) {
            $.ajax({
                type: "GET",
                url: $(this).attr("href"),
                success: function(retorno) {
                    $("#divModal").html(retorno);
                }
            });
            $('#modalDialog').modal("show");
            ev.preventDefault();
        });
    </script>
{% endblock %}
