{% extends '::templateModal.html.twig' %}

{% block modalTitle %} Movimentação Interna  {% endblock %}

{% block modalBody %}
    <div class="row">
        <div class="col-lg-6">
            <label for="atendente">Cadastrado por:</label>
            <input type="text" id="atendente" readonly value="{{movimentacao.atendente.nome}}" class="form-control" />
        </div>
        <div class="col-lg-6">
            <label for="dataCadastro">Data de Cadastro:</label>
            <input type="text" id="dataCadastro" readonly value="{{movimentacao.dataCadastro|date('d/m/Y')}}" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="inscricao">Inscrição:</label>
            <input type="text" id="inscricao" readonly value="{{movimentacao.inscricao.protocolo}} - {{movimentacao.inscricao.crianca.nome}}" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label for="unidadeOriginal">Unidade Original:</label>
            <input type="text" id="unidadeOriginal" readonly value="{{movimentacao.unidadeEscolarOriginal.nome}}" class="form-control" />
        </div>
        <div class="col-lg-6">
            <label for="unidadeCorrigida">Unidade Corrigida:</label>
            <input type="text" id="unidadeCorrigida" readonly value="{{movimentacao.unidadeEscolarAlterada.nome}}" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label for="anoEscolarOriginal">Ano Escolar Original:</label>
            <input type="text" id="anoEscolarOriginal" readonly value="{{movimentacao.anoEscolarOriginal.nome}}" class="form-control" />
        </div>
        <div class="col-lg-6">
            <label for="anoEscolarCorrigido">Ano Escolar Corrigido:</label>
            <input type="text" id="anoEscolarCorrigido" readonly value="{{movimentacao.anoEscolarAlterado.nome}}" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="justificativa">Justificativa:</label>
            <textarea id="justificativa" class="form-control" readonly >{{movimentacao.justificativa}}</textarea>
        </div>
    </div>
{% endblock %}