<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Movimentação de candidato em chamada</h4>
    </div>
    <div class="modal-body">
        <p>
            O candidato abaixo será movido para uma vaga existente segundo as especificações. Caso não exista uma vaga compatível em aberto, a tentativa de movimentação resultará em uma falha.
        </p>
        <form id="formMovimentacaoVaga" method="post" action="">
            <div class="row">
                <div class="col-lg-12">
                    <label for="candidato">Candidato:</label>
                    <span id="candidato" class="form-control">{{vaga.inscricaoEmChamada.protocolo}} - {{vaga.inscricaoEmChamada.crianca.nome}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="zoneamento">* Zoneamento:</label>
                    <select class="form-control" id="zoneamento" name="zoneamento" required >
                        <option>Selecione um zoneamento</option>
                        {% for zoneamento in zoneamentos %}
                            <option value="{{zoneamento.id}}"> {{zoneamento.nome}} - {{zoneamento.descricao}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="ano">* Ano Escolar:</label>
                    <select class="form-control" id="ano" name="ano" required >
                        <option>Selecione um ano escolar</option>
                        {% for ano in anosEscolares %}
                            <option value="{{ano.id}}"> {{ano.nome}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                    <label for="unidade">Unidade:</label>
                    <select class="form-control" id="unidade" name="unidade">
                        <option value="">Qualquer unidade</option>
                        {% for unidade in unidades %}
                            <option value="{{unidade.id}}"> {{unidade.nome}} | {{unidade.zoneamento.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="periodo">Período:</label>
                    <select class="form-control" id="periodo" name="periodo" required >
                        <option value="">Qualquer período</option>
                        {% for periodo in periodos %}
                            <option value="{{periodo.id}}"> {{periodo.nome}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="justificativa">Justificativa desta movimentação:</label> <br /> 
                    <textarea id="justificativa" name="justificativa" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                   <button id="btnMover" type="button" class="btn btn-primary">Mover candidato</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#btnMover").click(function() {
        $.ajax({
            type: "POST",
            url: "{{path('fu_movimentacaoInterna_moverVaga', {'vaga': vaga.id})}}",
            data: $("#formMovimentacaoVaga").serialize(),
            success: function(retorno) {
                $("#divListaVagas").html(retorno);
            }
        });
        $("#modalDialog").modal("toggle");
    });
</script>
