{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}DGP > Pessoas > {{pessoa.nome}}{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li {% if activeTab|default('1') == '1' %}class="active"{% endif %}> 
            <a href="{{ path('dgp_pessoa_alterar', { 'pessoa': pessoa.id }) }}">Dados Pessoais</a>
        </li>
        <li {% if activeTab == '2' %}class="active"{% endif %}>
            <a href="{{ path('dgp_pessoa_endereco_alterar', { 'pessoa': pessoa.id }) }}">Endereço</a>
        </li>
        <li {% if activeTab == '3' %}class="active"{% endif %}>
            <a href="{{ path('dgp_pessoa_telefone_cadastrar', { 'pessoa': pessoa.id }) }}">Telefones</a>
        </li>
        <li {% if activeTab == '4' %}class="active"{% endif %}>
            <a href="{{ path('dgp_pessoa_formacao_listar', { 'pessoa': pessoa.id }) }}">Titulação</a>
        </li>
        <li {% if activeTab == '5' %}class="active"{% endif %}>
            <a href="{{ path('dgp_pessoa_vinculo_listar', { 'pessoa': pessoa.id }) }}">Vínculos</a>
        </li>
        <li {% if activeTab == '6' %}class="active"{% endif %}>
            <a href="{{ path('dgp_pessoa_usuario_alterarSenha', { 'pessoa': pessoa.id }) }}">Usuário</a>
        </li>
    </ul>
    <div id="tabContent" class="container">
        {% block tabContent %}{% endblock %}
    </div>
{% endblock %}
