{% extends 'DGPBundle:Pessoa:cadastroPessoa.html.twig' %}

{% set activeTab = '1' %}

{% block headerTitle %} DGP > Pessoas > {{pessoa.nome}} {% endblock %}

{% block tabContent %}
    <div class="row" id="formErrors">
        {{ erros | raw }}
    </div>
    {{ form_start(form, { 'attr': { 'id': 'editForm' } }) }}
        <div class="row">
            <div class="col-lg-6">
                    {{ form_row(form.id) }}
                {{ form_row(form.nome) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.cpfCnpj) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.dataNascimento, {'attr': {'class': 'form-control datepickerSME'} }) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.estadoCivil) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.naturalidade) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.nacionalidade) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.raca) }}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.nomeMae) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.nomePai) }}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.numeroRg) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.orgaoExpedidorRg) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.dataExpedicaoRg, {'attr': {'class': 'form-control datepickerSME'} }) }}
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.numeroTituloEleitor) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.zonaTituloEleitor) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.secaoTituloEleitor) }}
            </div>
            <div class="col-lg-6">
                    {{ form_row(form.pisPasep) }}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.carteiraTrabalhoNumero) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.carteiraTrabalhoSerie) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.carteiraTrabalhoDataExpedicao, {'attr': {'class': 'form-control datepickerSME'} }) }}
            </div>
            <div class="col-lg-6">
                    {{ form_row(form.carteiraTrabalhoEstado) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.btnSalvar) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}